body, html {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #545758;
}

fn-table /deep/ table td,
fn-table /deep/ table th {
  text-align: left;
  font-weight: 400;
  border: none;
  height: 38px;
  font-size: 14px;
  padding: 0 20px;
}

fn-table /deep/ table td {
  color: #545758;
}

fn-table /deep/ table th {
  line-height: 40px;
  border-right: 1px solid rgb(226, 232, 237);
}

fn-table /deep/ table tr.header {
  border-top: 2px solid rgb(226, 232, 237);
  border-bottom: 2px solid rgb(226, 232, 237);
  background-color: #f6f8fa;
  color: #60707f;
}
