z-sparkline {
  display: inline-block;
}

z-sparkline.sparkline-axes {
  padding-top: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}

z-sparkline svg {
  vertical-align: bottom;
}

z-sparkline path {
  stroke: rgba(0, 0, 0, 0.6);
  fill: none;
  stroke-width: 2px;
}

z-sparkline circle {
  stroke: #a94442;
  fill: #a94442;
  stroke-width: 1px;
}
