@font-face {
  font-family: 'FontAwesome';
  src: url('/s/fontawesome.woff?v=4.2.0'');
  src:  url('/s/fontawesome.woff?v=4.2.0') format('woff');
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-file:before {
  content: "\f15b";
}
.fa-file-text:before {
  content: "\f15c";
}
.fa-area-chart:before {
  content: "\f1fe";
}
.fa-database:before {
  content: "\f1c0";
}
.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "\f1cd";
}
.fa-gears:before,
.fa-cogs:before {
  content: "\f085";
}
.fa-search:before {
  content: "\f002";
}
.fa-refresh:before {
  content: "\f021";
}
.fa-circle-o-notch:before {
  content: "\f1ce";
}
.fa-sort-amount-asc:before {
  content: "\f160";
}
.fa-sort-amount-desc:before {
  content: "\f161";
}
.fa-th-large:before {
  content: "\f009";
}
.fa-code:before {
  content: "\f121";
}
.fa-columns:before {
  content: "\f0db";
}
.fa-chevron-down:before {
  content: "\f078";
}
.fa-rocket:before {
  content: "\f135";
}
.fa-flash:before,
.fa-bolt:before {
  content: "\f0e7";
}
.fa-toggle-off:before {
  content: "\f204";
}
.fa-toggle-on:before {
  content: "\f205";
}
.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\f044";
}
.fa-share:before {
  content: "\f1e0";
}
.fa-pencil:before {
  content: "\f040";
}
.fa-code-fork:before {
  content: "\f126";
}
.fa-sign-out:before {
  content: "\f08b";
}
.fa-chevron-left:before {
  content: "\f053";
}
.fa-chevron-right:before {
  content: "\f054";
}

.fa-spin {
  -webkit-animation: fa-spin 1s infinite linear;
  animation: fa-spin 1s infinite linear;
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}


body, html {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #545758;
}

body {
  background: #fff;
  padding-bottom: 20px;
}

.le_fnord {
  float: left;
  line-height: 49px;
  color: #cdd3d8;
  margin: 0;
  padding: 0;
  font-family: "Arial";
  width: 51px;
  text-align: center;
  font-size: 24px;
  border-right: 1px solid #2e3135;
}

.load_foreground {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background: #e9ebed;
  display: table;
  text-align: center;
}


.load_foreground i.fa {
  font-size: 48px;
  display: table-cell;
  vertical-align: middle;
  color: #aaadae;
}

.editor_type_picker {
  float: left;
  background: #f6f8fa;
  border-right: 1px solid #dbdedf;
  height: 39px;
  display: block;
  width: 90px;
  text-align: center;
  padding: 0 15px 0 15px;
  line-height: 41px;
  font-size: 95%;
}

.editor_type_picker i {
  font-size: 10px;
  position: relative;
  top: -1px;
  left: -3px;
}

.editor_type_picker i.fa-chevron-down{
  left: 6px;
  opacity: 0.6;
}

.navbar {
  height: 39px;
  width: 100%;
  margin: 0px;
  line-height: 39px;
  border-bottom: 1px solid #dbdedf;
  font-size: 95%;
}

.navbar a {
  text-decoration: none;
  color: #545758;
}

.editor_type_chooser {

}

.fancy_button {
  font-weight: 600;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.1);
  background: linear-gradient(to bottom right, #f5f5f5, #f1f1f1);
  padding: 0 12px;
  height: 27px;
  line-height: 28px;
  display: inline-block;
}

input {
  width: 200px;
  height: 23px;
  float:left;
  padding: 2px;
  font-size: 14px;
}

.viewport {
  min-width: 900px;
  margin-top: 49px;
}

.headbar {
  min-width: 900px;
  height: 49px;
  top: 0;
  position: absolute;
  left: 0;
  right: 0;
  z-index:999;
  background: rgba(25, 32, 37, 1);
  border-bottom: rgba(24, 31, 36, 1);
}

.headbar a h1 i {
  font-size:11px;
  margin-right:8px;
  position:relative;
  top:-1px;
}

.headbar a h1 {
  font-weight: 400;
  font-size: 100%;
  line-height: 50px;
  height: 49px;
  padding: 0 25px;
  margin: 0;
  float: left;
  color: #cdd3d8;
}

.headbar a.smallpadding h1 {
  padding-right: 15px;
}

.headbar a.right h1 {
  float: right;
  border-left: 1px solid #2e3135
}

.searchbar {
  float: right;
  height: 49px;
  border-left: 1px solid #2e3135;
  padding-left: 20px;
  padding-right: 23px;
}

.searchbar i.fa {
  float: left;
  line-height: 49px;
  margin-right: 14px;
  font-size: 12px;
}

.searchbar input {
  height: 24px;
  margin-top: 8px;
  background: #2d363b;
  border: 1px solid #444e54;
  border-radius: 3px;
  color: #fff;
  font-size: 90%;
  padding: 3px 10px;
  width: 340px;
}

.editor_pane, .result_pane {
  position: absolute;
  box-sizing: border-box;
}

.editor_pane {
  border-bottom: 1px solid #dbdedf;
  overflow: hidden;
}

.result_pane {
  border-bottom: 1px solid #dbdedf;
  border-left: 2px solid #dbdedf;
  border-right: 1px solid #dbdedf;
  background: #e9ebed;
}

.icobtn + .icobtn {
  margin-left: 5px;
}

.icobtn {
  float: left;
  display: block;
  height: 40px;
  width: 30px;
  margin-left: 10px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.icobtn:hover {
  color: #009fe9;
}

.viewport.horizontal_split .editor_pane {
  left: 0;
}

.viewport.horizontal_split .result_pane {
  margin-bottom: 50px;
}

.viewport.vertical_split .editor_pane {
  padding: 0 20px;
  left: 0;
}

.viewport.vertical_split .result_pane {
  margin-bottom: 50px;
  overflow-y: visible;
}

.result_pane p {
  padding: 20px;
}

.editor_resizer_tooltip {
  display:block;
  position: absolute;
  z-index: 100;
  background: #d7e4f2;
}

.editor_resizer_tooltip:hover {
  background: #d7e4f2;
}

.viewport.vertical_split .editor_resizer_tooltip {
  cursor: ns-resize;
}

.viewport.horizontal_split .editor_resizer_tooltip {
  width: 6px;
  cursor: ew-resize;
}

.editor_pane .editor_navbar {
  background-color: #fff;
  height: 28px;
  border-bottom: 1px solid #dbdedf;
}

.editor_pane .editor_navbar a h3{
  float:left;
  margin:0;
  font-weight: normal;
  font-size: 14px;
  text-decoration: none;
  line-height: 28px;
  height: 28px;
  padding: 0 10px;
  border-right: 1px solid #dbdedf;
  color: #444;
  background-color: #fff;
}

.editor_pane .editor_navbar a.active h3 {
  background-color: #dbdedf;
}

.visual_editor.field {
  width: 100%;
  padding: 20px 10px 20px 20px;
  line-height: 26px;
}

.visual_editor.field .field_title {
  float:left;
  margin-right: 10px;
}

.visual_editor input {
  height: 20px;
}

.visual_editor input.small {
  width: 40px;
  font-size: 12px;
}

.visual_editor ul.dropdown * {
  clear: both;
  margin-right: 0px;
}

.visual_editor .simple_button {
  line-height: 26px;
  float:left; 
  margin-right: 10px;
  padding: 0 5px;
  text-decoration: none;
  color: #444;
  border-radius: 4px;
  border: 1px solid #dbdedf;
}

.visual_editor .simple_button:hover,
.visual_editor .simple_button.active{
  background-color: #dbdedf;
}

.visual_editor select {
  float:left;
  height: 26px;
}

.hover_tooltip {
  text-align: center;
  padding: 5px 7px;
  color: #fff;
  background: #2a2a2a;
  border-radius: 3px;
  font-size: 13px;
  z-index: 900;
  max-width: 300px;
  display: none;
  position: absolute;
}

.editor_navbar .hover_tooltip {
  top: 30px;
  left: 4px;
}

.result_pane .result_navbar {
  width: 100%;
  height: 40px;
  margin-top: 0px;
  border-bottom: 1px solid #dbdedf;
  text-decoration: none;
}

.result_pane .result_navbar a h3 {
  text-decoration: none;
  color: #444;
  line-height: 40px;
  margin: 0px;
  padding: 0 30px;
  border-right: 1px solid #dbdedf;
  float: left;
}

.result_pane .chart_container {
  margin-top: 30px;
  text-align:center;
  padding: 0px 15px;
  margin-bottom: 70px;
}

.result_pane .error_box {
  width: 90%;
  margin:auto;
  margin-top: 20px;
  padding: 9px 14px;
  background: rgba(230, 126, 34,0.1);
  border: 1px solid rgba(230, 126, 34,1.0);
  border-radius: 3px;
  color: rgba(122, 07, 03,1.0);
  line-height: 23px;
}

.result_pane .chart_container svg {
  max-width: 1100px;
}

.result_pane .error_field {
  width: 80%;
  padding: 10px;
  color: #444;
}

.pagination_navbar {
  position: absolute;
  float: right;
  height: 25px;
  line-height: 25px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.pagination_navbar a, 
.pagination_navbar div {
  float:right;
  margin-right: 10px;
  text-decoration: none;
  color: #444;
}

.pagination_navbar .pagination_tooltip {
  text-align: center;
  font-weight: bold;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,0.1);
  background: linear-gradient(to bottom right, #f5f5f5, #f1f1f1);
  padding: 0 5px;
}

.pagination_navbar #tooltip_back.pagination_tooltip {
  margin-right: 2px;
}

.pagination_navbar.metric {
  width: 100%;
  margin: auto;
  margin-top: -40px;
  right: 10px;
}

.result_pane table.result_table {
  width: 100%;
  max-width: 1500px;
  margin: auto;
  border-collapse: collapse;
  margin-bottom: 30px;
}

.result_pane table.result_table th {
  padding: 10px 0 10px 10px;
  background-color: rgba(0,0,0,0.04);
  font-weight: normal;
}

.result_pane table.result_table tr {
  border-bottom: 1px solid #dbdedf;
}

.result_pane table.result_table tr:hover td  {
  background-color: #d7e4f2;
}

.result_pane table.result_table td {
  padding: 10px 0 10px 10px;
  text-align: center;
}

.viewport .metrics_error_pane {
  width: 100%;
  margin-top: 95px;
  text-align: center;
}

.search_bar {
  float:left;
  margin-left: 20px;
  margin-top: 9px;
}

.search_bar .fancy_button {
  border-radius: 0px;
  padding: 0 10px;
  float:left;
  height: 30px;
  line-height: 30px;
}

.search_bar .clear_button {
  float: left;
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 16px;
  text-align:center;
  text-decoration: none;
  color: #444;
}

.metrics.big_text {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  font-size: 20px;
  text-align:center
}

ul.autocomplete {
  position: absolute;
  top: 28px;
  margin-left: 27px;
  width: 360px;
  z-index: 999;
  padding-left: 0px;
}

ul.autocomplete li {
  background-color: #fff;
  border: 1px solid #dbdedf;
  list-style: none;
  list-style-type:none;
  margin:0;
  border-bottom: 1px solid #dbdedf;
}

ul.autocomplete li a {
  line-height:30px;
  display: block;
  padding: 0 4px;
  text-decoration: none;
  color: #444;
}

ul.autocomplete li.hover {
  background-color: #d7e4f2;
}

ul.autocomplete li:hover {
  background-color: #d7e4f2;
}

h1.metric {
  margin-top: 80px;
}

table.metric_list {
  width: 100%;
  margin-top: 5px;
  border-collapse: collapse;
  font-size: 90%;
}

table.metric_list tr {
  border-bottom: 1px solid rgb(226, 232, 237);
}

table.metric_list tr.list_header {
  border-top: 2px solid rgb(226, 232, 237);
  border-bottom: 2px solid rgb(226, 232, 237);
  background-color: #f6f8fa;
  color: #60707f;
}

table.metric_list tr.list_header i.sort {
  float: right;
  line-height: 40px;
}

table.metric_list th,
table.metric_list td {
  text-align: left;
  font-weight: 400;
  border: none;
  height: 38px;
  line-height: 38px;
  font-size: 109%;
  padding: 0 20px;
}

table.metric_list th {
  line-height: 40px;
}

table.metric_list th {
  border-right: 1px solid rgb(226, 232, 237);
}

table.metric_list .clickable:hover {
  cursor:pointer;
}

tr.list_header th .caret {
  color: #bed0e2;
  text-decoration: none;
  font-size: 10px;
  float: right;
}

tr.list_header th .caret.left {
  margin-left: 5px;
}

table.metric_list tr:hover td {
  background-color: #f6f8fa;
  cursor: pointer;
}

.editor_pane .editor_menu {
  background: #dbdedf;
  height: 46px;
  box-shadow: 0 0 1px rgba(0,0,0,.1);
}

.info_field {
  font-style: italic;
  position: absolute;
  left: 5px;
}

.popup {
  position: absolute;
  min-height: 400px;
  width: 40%;
  min-width: 700px;
  z-index: 2000;
  border: 1px solid #dbdedf;
  left: 30%;
  top:90px;
  background: #fff;
}

.popup a {
  float: left;
  color: #444;
  text-decoration: none;
  padding: 2px;
}

.popup .inner_window {
  margin-top: 30px;
  margin-left: 20px;
}

.result_card {
  background: #fff;
  margin: 10px;
  padding: 0;
  border: 1px solid #ccc;
  box-shadow: 0 0 3px rgba(0,0,0,.1);
  border-radius: 1px
}

h1.page_header {
  font-size: 140%;
  font-weight: 400;
  margin: 0 0 0 20px;
  padding: 17px 0 10px 0;
  color: #738694;
}

h1.page_header em {
  font-style: normal;
  color: #394b59;
}

.run_query_btn i {
  margin-right: 4px;
}

.run_query_btn:hover {
  background: #edf0f2;
  color: #545758;
}

.run_query_btn {
  font-weight: 500;
  cursor: pointer;
  height: 29px;
  line-height: 30px;
  margin-right: 8px;
  margin-top: 6px;
  float: right;
  padding: 0 12px;
  border-radius: 4px;
  color: #009fe9;
}

.metric_preview_controls {
  margin-top: 5px;
  height: 76px;
  border-top: 2px solid rgb(226, 232, 237);
  border-bottom: 2px solid rgb(226, 232, 237);
  background-color: #f6f8fa;
  color: #60707f;
  overflow: hidden;
}

.metric_preview_secondary_controls {
  height: 39px;
  margin: 0px;
  line-height: 39px;
  border-bottom: 1px solid #dbdedf;
  font-size: 90%;
  padding: 0 20px;
  text-align: right;
}

.metric_preview_secondary_controls .btn + .btn {
  border-left: 1px solid #ececec;
  padding-left: 20px;
}

.metric_preview_secondary_controls .btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

.metric_preview_secondary_controls .btn {
  float: left;
  margin-right: 20px;
  height: 22px;
  line-height: 22px;
  margin-top: 10px;
}

.metric_preview_secondary_controls .btn:first-child {
  color: #009fe9;
  font-weight:500;
}

.metric_preview_secondary_controls .btn .fa-database {
  font-size: 87%;
  position: relative;
  top: -1px;
}

.metric_preview_secondary_controls .btn i {
  position: relative;
  margin-right: 4px;
}

.metric_preview_secondary_controls .fa-chevron-left {
  color: rgb(84, 87, 88);
  border-right: 1px solid #ececec;
  margin-right: 5px;
  padding-right: 15px;
  height: 22px;
  line-height: 24px;
  font-size: 90%;
}

.metric_preview_secondary_controls .fa-chevron-right {
  color: rgb(84, 87, 88);
  border-left: 1px solid #ececec;
  margin-left: 5px;
  padding-left: 15px;
  height: 22px;
  line-height: 24px;
  font-size: 90%;
}

.metric_preview_secondary_controls .fa-chevron-left:hover,
.metric_preview_secondary_controls .fa-chevron-right:hover {
  color: #009fe9;
}

.metric_preview_secondary_controls .current_date {
  padding: 0 10px;
  font-weight: 500;
}

.metric_preview_controls .group.aggregation_type {
  border-right: 1px solid rgb(226, 232, 237);
}

.metric_preview_controls .group.aggregation_type select {
  min-width: 100px;
}

.metric_preview_controls .group.aggregation_time_window select {
  margin-right: 15px;
  min-width: 60px;
}

.metric_preview_controls .group.aggregation_time_window {
  padding-right: 0;
  border-right: 1px solid rgb(226, 232, 237);
}

.metric_preview_controls .group.date {
  float: right;
}

.metric_preview_controls .group.timespan {
  float: right;
  border-left: 1px solid rgb(226, 232, 237);
  padding-right: 0;
}

.metric_preview_controls .group.timespan select {
  min-width: 110px;
}

.metric_preview_controls .group {
  height: 64px;
  float: left;
  padding: 14px 20px 0 20px;
  overflow: hidden;
}

.metric_preview_controls .group.groupby i {
  margin-right: 5px;
}

.metric_preview_controls .group.groupby a {
  line-height: 28px;
  border: 1px solid #bbb;
  border-radius: 3px;
  padding: 0 8px;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  background: #fff;
  border: 1px solid #b3c2d0;
  color: #545758;
  height: 28px;
  display: block;
  float: left;
  margin-right: 10px;
}

.metric_preview_controls .group b {
  font-weight: normal;
  font-size: 80%;
  line-height: 12px;
  font-weight: 500;
  display: block;
  margin-bottom: 6px;
  opacity: 0.7;
}

.metric_preview_controls .group input {
  height: 28px;
  line-height: 28px;
  padding: 0 8px;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid #b3c2d0;
  color: #545758;
}

.metric_preview_controls .group select {
  -webkit-appearance: menulist-button;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  min-width: 150px;
  background: #fff;
  border: 1px solid #b3c2d0;
  color: #545758;
}

.single_metric_ui.chart_container {
  height: 400px;
  padding: 20px;
  text-align: center;
}

.single_metric_ui.chart_container svg {
  height: 100%;
}

/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font: 14px monospace;
  height: 100%;
}
.CodeMirror-scroll {
  /* Set scrolling behaviour here */
  overflow: auto;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 4px; /* Vertical padding around content */
}
.CodeMirror pre {
  padding: 2px 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}



/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #dbdedf;
  background-color: #edf0f2;
  white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding: 0 25px 0 6px;
  min-width: 20px;
  text-align: right;
  color: #a6a5ab;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror div.CodeMirror-cursor {
  border-left: 1px solid black;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.CodeMirror.cm-keymap-fat-cursor div.CodeMirror-cursor {
  width: auto;
  border: 0;
  background: #7e7;
}
.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
}
@-moz-keyframes blink {
  0% { background: #7e7; }
  50% { background: none; }
  100% { background: #7e7; }
}
@-webkit-keyframes blink {
  0% { background: #7e7; }
  50% { background: none; }
  100% { background: #7e7; }
}
@keyframes blink {
  0% { background: #7e7; }
  50% { background: none; }
  100% { background: #7e7; }
}

/* Can style cursor different in overwrite (non-insert) mode */
div.CodeMirror-overwrite div.CodeMirror-cursor {}

.cm-tab { display: inline-block; }

.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3 {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0f0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #f22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  line-height: 1;
  position: relative;
  overflow: hidden;
  background: white;
  color: black;
}

.CodeMirror-scroll {
  /* 30px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -30px; margin-right: -30px;
  padding-bottom: 30px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-sizer {
  position: relative;
  border-right: 30px solid transparent;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actuall scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0; bottom: 0;
}

.CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  padding-bottom: 30px;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding-bottom: 30px;
  margin-bottom: -32px;
  display: inline-block;
  /* Hack to make IE7 behave */
  *zoom:1;
  *display:inline;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}

.CodeMirror-lines {
  padding: 10px 10px;
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
}
.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  overflow: auto;
}

.CodeMirror-widget {}

.CodeMirror-wrap .CodeMirror-scroll {
  overflow-x: hidden;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.CodeMirror-measure pre { position: static; }

.CodeMirror div.CodeMirror-cursor {
  position: absolute;
  border-right: none;
  width: 0;
}

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 1;
}
.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }

.cm-searching {
  background: #ffa;
  background: rgba(255, 255, 0, .4);
}

/* IE7 hack to prevent it from returning funny offsetTops on the spans */
.CodeMirror span { *vertical-align: text-bottom; }

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}
