/build
.DS_Store
CMakeFiles
CMakeCache.txt
Makefile
cmake_install.cmake
*.a
*.so
*.dll
*.dylib
/fviz
/fviz_config.h
/.ninja_deps
/.ninja_log
/*.ninja
/test_*.png
/test_*
CTestTestfile.cmake
Testing
install_manifest.txt
wwwdocs
