//%iframe{:frameborder => "none", :height => "1500", :scrolling => "no", :src => "report.html", :width => "100%"}
%script{:src => "src/fnordquery.report_view.js", :type => "text/javascript"}


:javascript
  fnordquery.init();
  fnordquery.load(fnordquery.views.report('gross_search_volume'));