%div(style="margin-top:47px;")
  .events_sidebar
    .headbar.small Settings
    %ul.event_type_list
      %li.event_type{:rel => "avg_user_data"}
        %input{:checked => "checked", :type => "checkbox"}
          %span Enable pictures
      %li.event_type{:rel => "avg_user_data"}
        %input{:checked => "checked", :type => "checkbox"}
          %span Enable usernames
      %li.event_type{:rel => "avg_user_data"}
        %input{:checked => "checked", :type => "checkbox"}
          %span Only with session
    

    .headbar.small Types
    %ul.event_type_list
      %li.event_type{:rel => "avg_user_data"}
        %span.history history
        %input{:checked => "checked", :type => "checkbox"}
          %span avg_user_data
      %li.event_type{:rel => "action_message"}
        %span.history history
        %input{:checked => "checked", :type => "checkbox"}
          %span action_message
      %li.event_type{:rel => "photoupload_from_hd"}
        %span.history history
        %input{:checked => "checked", :type => "checkbox"}
          %span photoupload
      %li.event_type{:rel => "nps_impression"}
        %span.history history
        %input{:checked => "checked", :type => "checkbox"}
          %span nps_impression
      %li.event_type{:rel => "about_me_update"}
        %span.history history
        %input{:checked => "checked", :type => "checkbox"}
          %span about_me_update
      %li.event_type{:rel => "publish"}
        %span.history history
        %input{:checked => "checked", :type => "checkbox"}
          %span publish
      %li.event_type{:rel => "user_average_data"}
        %span.history history
        %input{:checked => "checked", :type => "checkbox"}
          %span user_average_data
      %li.event_type{:rel => "app_invite_sent"}
        %span.history history
        %input{:checked => "checked", :type => "checkbox"}
          %span app_invite_sent
  .sessions_feed{:style => "width: 1236px; "}
    %ul.feed_inner
      %li.feed_event
        %span.time 01:30:56
        .picture
        %span.message Yay, a new user!
        %span.properties
      %li.feed_event
        %span.time 01:30:56
        .picture
        %span.message campaign_install
        %span.properties
      %li.feed_event
        %span.time 01:30:21
        .picture
        %span.message User left the application
        %span.properties
      %li.feed_event
        %span.time 01:30:12
        .picture
        %span.message Sent Mail: Willkommen bei uLikeMe!
        %span.properties
      %li.feed_event
        %span.time 01:30:12
        .picture
        %span.message Sent Mail: Willkommen bei uLikeMe!
        %span.properties
    
  .sessions_sidebar
    %ul.event_type_list
    %ul.session_list
      %li.session{"data-session" => "a002e08506fcb46a0248a88f2edf699f"}
        .picture
          %img{:width => "25"}/
        %span.name a002e08506fcb46
        %span.time 2 min
        %span.history history
      %li.session{"data-session" => "c8ae67fb2d4afb6387e7bb8a597e229e"}
        .picture
          %img{:src => "/i/profile_photos/4f/b4/6c/da/4fb46cda536cab4447004325/medium_q_41eb9c3fb89f72857505e5ad873806db.jpg", :width => "25"}/
        %span.name Sabrina, 32
        %span.time 3 min
        %span.history history
      %li.session{"data-session" => "48ad4289517913e7be8693256bdddd7b"}
        .picture
          %img{:src => "/i/profile_photos/4f/b6/c5/6b/4fb6c56b536cab365b000275/medium_q_c2886221b0f5a1d598ec9301e885ab67.jpg", :width => "25"}/
        %span.name Simone, 40
        %span.time 3 min
        %span.history history
      %li.session{"data-session" => "e0a424b28dfda77ed6610201fc8e5db6"}
        .picture
          %img{:src => "/i/profile_photos/4f/57/6e/60/4f576e60bd509d4645000001/medium_q_56a243c19db3f1f88ed449295a0c5573.jpg", :width => "25"}/
        %span.name Frank, 38
        %span.time 4 min
        %span.history history
      %li.session{"data-session" => "30f76c04e656c5bbce5daf8a445b4c4d"}
        .picture
          %img{:src => "/i/profile_photos/4f/8b/f3/0a/4f8bf30a536cab611f000001/medium_q_03d6408eef66e63fd93f0ae010b21590.jpg", :width => "25"}/
        %span.name Thomas, 50
        %span.time 4 min
        %span.history history
      %li.session{"data-session" => "770deed9fd5a06443d8402e25ed67d1d"}
        .picture
          %img{:width => "25"}/
        %span.name 770deed9fd5a064
        %span.time 4 min
        %span.history history
      %li.session{"data-session" => "070dd11d30696c692518aa1eec8378e9"}
        .picture
          %img{:src => "/i/profile_photos/4f/b4/7f/99/4fb47f99536cab63ed00053b/medium_q_040a6bbc2ff44133a34a4371e71ce09c.jpg", :width => "25"}/
        %span.name Petra, 45
        %span.time 5 min
        %span.history history
      %li.session{"data-session" => "965bebc667e6abbe761da1a1229435ff"}
        .picture
          %img{:src => "/i/profile_photos/4f/57/86/d9/4f5786d9bd509d658a000001/medium_q_74e0cc9624b31d8422109c253ca309c6.jpg", :width => "25"}/
        %span.name Dave, 34
        %span.time 5 min
        %span.history history
      %li.session{"data-session" => "bd621d9aaf5d7a30b4cbbe529becca0d"}
        .picture
          %img{:src => "/i/profile_photos/4f/b3/d2/04/4fb3d204536cab63ed0001d0/medium_q_c0049b8a79c45817202cdb152771ae2d.jpg", :width => "25"}/
        %span.name Mustapha, 37
        %span.time 5 min
        %span.history history
      %li.session{"data-session" => "832941f6af74c95aa2bd984b69d3b37f"}
        .picture
          %img{:src => "/i/profile_photos/4f/b6/8d/35/4fb68d35bd509d087c000029/medium_q_453969397bd8d6eeede1d2eceba3d2d2.jpg", :width => "25"}/
        %span.name Ljiljana, 63
        %span.time 5 min
        %span.history history
      %li.session{"data-session" => "a1d8c6551ce4feb63599d477a9201010"}
        .picture
          %img{:src => "/i/profile_photos/4f/b5/dd/af/4fb5ddafbd509d185900045f/medium_q_0074de858963d914db77aa488657dbc3.jpg", :width => "25"}/
        %span.name Gabi, 50
        %span.time 5 min
        %span.history history
      