.report_view

  %h1= @opts["title"]
  %h3 CategoricalTopK Report

  %ul.ui_tabs.tabs
    %li.active{"data-tab" => "Overview"}
      %a{:href => "#"} Overview

  .headbar
    %h2 Top Search Queries

  .widget_toplist.ui_sidebar_toplist(style="width:600px;")
    .ui_toplist
      .toplist_item
        .title /matches
        .value 36
        .percent 73.5%
      .toplist_item
        .title /home
        .value 6.00
        .percent 12.2%
      .toplist_item
        .title /conversations
        .value 4.00
        .percent 8.2%
      .toplist_item
        .title /conversations/show
        .value 3.00
        .percent 6.1%