%h1= @opts["title"]
%h3 NumericTimeseries Report
%ul.ui_tabs.tabs
  %li.active{"data-tab" => "Overview"}
    %a{:href => "#"} Overview

.mywidget

.widget.NumbersWidget{:style => "margin-bottom: 20px; overflow-x: hidden; overflow-y: hidden; width:1700px;"}
  .headbar.small1= @opts["title"]
  .numbers_container{:rel => "Queries", :style => "width: 380px; "}
    .title Queries
    .number{:data => "2.6666666666666665", :rel => "3"}
      %span.desc 3sec avg.
      %span.value 2.67
    .number{:data => "3.2", :rel => "5"}
      %span.desc 5sec avg.
      %span.value 3.20
    .number{:data => "3.4000000000000004", :rel => "15"}
      %span.desc 15sec avg.
      %span.value 3.40
    .number{:data => "3.3666666666666667", :rel => "30"}
      %span.desc 30sec avg.
      %span.value 3.37
      
:javascript

  fnordquery.widgets.timeseries_widget().render({
    title: "Fnord!!!!",
    elem: $('.mywidget'),
    default_style: 'stack',
    series:[{
      color: '#CD645A',
      name: "Fnord",
      data: sampler()
    },{
      color: '#2F635E',
      name: "fnord",
      data: sampler()
    },{
      color: '#42436B',
      name: "fnord",
      data: sampler()
    },{
      color: '#FACE4F',
      name: "fnord",
      data: sampler()
    }]
  });

  function sampler(){
    var arr=[];
    var start = 1336873946;
    for(var n=0; n < 150; n++){
      arr.push({ x: (start + n), y: (23 + (Math.random()*5)) })
    }
    return arr;
  }
