.report_view

  %h1= @opts[:title]
  %h3 Timeseries Gauge

  %ul.ui_tabs.tabs
    %li.active{"data-tab" => "Overview"}
      %a{:href => "#"} Overview
    %li{"data-tab" => "Punchcards"}
      %a{:href => "#"} Punchcards
    %li{"data-tab" => "Realtime"}
      %a{:href => "#"} Realtime


  .widget_timeseries

  .headbar.small= @opts[:title]
  - @series_numbers.each do |series, nums|
    %div
      .numbers_container
        .title= series

        .number{:data => nums[:total], :"data-current" => 0}
          %span.desc Total
          %span.value 0


:gaugejs

  FnordMetric.widgets.timeseriesWidget().render({
    title: "Fnord!!!!",
    elem: $('.widget_timeseries'),
    height: 420,
    default_style: 'stack',
    series: #{@series_render.to_json}
  });

  FnordMetric.util.updateNumbers('.report_view', 4);