.report_view

  %h1= @opts[:title]
  %h3 Timeseries Gauge

  %ul.ui_tabs.tabs
    %li.active{"data-tab" => "Overview"}
      %a{:href => "#"} Overview
    %li{"data-tab" => "Punchcards"}
      %a{:href => "#"} Punchcards
    %li{"data-tab" => "Realtime"}
      %a{:href => "#"} Realtime
    %li{"data-tab" => "Export"}
      %a{:href => "#"} Export


  .widget_timeseries

  .resizable(data-width="25" style="border-right:1px solid #ddd;")
    .headbar.small Realtime
    %br
    %br
    %br

  .resizable(data-width="40" style="border-right:1px solid #ddd;")
    .headbar.small Series Values
    - @series_numbers.each do |series, nums|
      .clearfix.numbers_container(style="width:auto; float:none; margin-right:20px;")
        .title.with_swatch
          .swatch(style="background:#{@series_colors[series]};")
          %span= series

        .number{:data => nums[:total], :"data-current" => 0}
          %span.desc Total
          %span.value 0


  .resizable(data-width="35")
    .headbar.small Series Weights


:gaugejs

  FnordMetric.ui.resizable('.report_view');
  FnordMetric.util.updateNumbers('.report_view', 4);

  FnordMetric.widgets.timeseriesWidget().render({
    title: "Fnord!!!!",
    elem: $('.widget_timeseries'),
    height: 420,
    default_style: 'stack',
    series: #{@series_render.to_json}
  });
