!!!	
%html

  %head
    %title Fnordmetric Dashboard
    %script(type="text/javascript" src="/jquery-1.6.1.min.js")
    %script(type="text/javascript" src="/fnordmetric.js")
    %link(type="text/css" rel="stylesheet" href="/fnordmetric.css")

  %body
    #head

    #tabs
      %ul
        -FnordMetric.dashboards.each do |dashboard|
          %li{:rel => dashboard.token}
            .picto.piechart
            =h dashboard.title

    #viewport
      -@dashboard.widgets.each do |widget|
        %div(style="margin-bottom:10px;")
          =widget.render
          

:javascript
  $(document).ready(function(){

    $('#tabs li').click(function(){
      document.location.href = '/fnordmetric/dashboard/' + $(this).attr('rel');
    });

    function resizeViewport(){ $('#viewport').width(window.innerWidth-290); }
    resizeViewport();
    $(window).resize(resizeViewport);

  });

