!!!	
%html

  %head
    %title Fnordmetric Dashboard
    %script(type="text/javascript" src="/jquery-1.6.1.min.js")
    %link(type="text/css" rel="stylesheet" href="/fnordmetric.css")  
    
  %body
    #head

    #tabs
      %ul
        -FnordMetric.dashboards.each do |dashboard|
          %li{:rel => dashboard.token}
            .picto.piechart
            =dashboard.title

:javascript
  $(document).ready(function(){
    $('#tabs li').click(function(){
      document.location.href = '/fnordmetric/dashboard/' + $(this).attr('rel');
    });
  });

