!!!	
%html

  %head
    %title Fnordmetric Dashboard
    %script(type="text/javascript" src="/jquery-1.6.1.min.js")
    %link(type="text/css" rel="stylesheet" href="/fnordmetric.css")  
    
  %body
    #head

    #tabs
      %ul
        -10.times do
          %li(rel="asd") 
            .picto.piechart
            Foobar

:javascript
  $(document).ready(function(){
  });

