!!!	
%html

  %head
    %title zoe.sh
    %script(type="text/javascript" src="/jquery-1.6.1.min.js")
    %script(type="text/javascript" src="/strophe.min.js")
    %script(type="text/javascript" src="/zoeshell.js")    
    %link(type="text/css" rel="stylesheet" href="/fnordmetric.css")  
    
  %body
    
    .head
      .logo
      %a(href="#todo") Foobar
      %a(href="#todo") Foobar
      %a(href="#todo") Foobar
      %a(href="#todo") Foobar
      %a.active(href="#todo") Foobar
      %a(href="#todo") Foobar
      %a(href="#todo") Foobar
      /%img.logo(src="/img/logo.png")

    %br
    %br
    %br
    %br
    %br

    .bar
      %b Lorem ipsum dolor &raquo; Daily Visits

    %br
    %br
    %br
    %br
    %br
    
    .bar
      %b Lorem ipsum dolor &raquo; Daily Visits

:javascript
  $(document).ready(function(){
  });

