!!!	
%html

  %head
    %title Fnordmetric Dashboard
    %script(type="text/javascript" src="/fnordmetric/jquery-1.6.1.min.js")
    %script(type="text/javascript" src="/fnordmetric/fnordmetric.js")
    %link(type="text/css" rel="stylesheet" href="/fnordmetric/fnordmetric.css")

  %body
    #wrap
      #tabs
        %ul
          -FnordMetric.dashboards.each do |dashboard|
            %li{:rel => dashboard.token}
              .picto.piechart
              =h dashboard.title

      #viewport
        -@dashboard.widgets.each do |widget|
          -elem_id = "fw#{(rand*9999).to_i}"
          %div{:id => elem_id, :style => "margin-bottom:10px;"}
          =widget.render(elem_id)
          

:javascript
  $(document).ready(function(){

    $('#tabs li').click(function(){
      document.location.href = '/fnordmetric/dashboard/' + $(this).attr('rel');
    });

    function resizeViewport(){ $('#viewport').width(window.innerWidth-310); }
    resizeViewport();
    $(window).resize(resizeViewport);

  });

