
%ul.tabs
  %li
    %a(href="#") Fnord
  %li.active
    %a(href="#") Fnord
  %li
    %a(href="#") Fnord
  %li
    %a(href="#") Fnord
  %li
    %a(href="#") Fnord
  %li
    %a(href="#") Fnord


%div.numgauge_widget_total_timeline

%div.numgauge_widget_total_numbers