
%ul.ui_tabs
  %li.active
    %a(href="#") Overview
  %li
    %a(href="#") Per #{key_nouns.first}
  %li
    %a(href="#") Trending


%div.toplgauge_widget_topx_timeline

%div.toplgauge_widget_topx_toplist
