<template id="fnordmetric-metric-sensor-tpl">
  <div class="fnordmetric-metric-sensor">
    <h1 class="page_header">
      <a href="/metrics">Metrics</a> &rsaquo;
      <a class='metric_name'></a> &rsaquo;
      <a class='sensor_name'></em>
    </h1>

    <div class="content">

      <div class="sidebar">
        <h3>Measurements</h3>
        <ul class="value_columns"></ul>
      </div>

      <div class="chart_box_container">

      </div>

    </div>
  </div>
</template>

<template id="fnordmetric-metric-sensor-chart-tpl">
  <div class="chart_box">
    <h2 class="chart_title"></h2>
    <div class="chart"></div>
  </div>
</template>
