.fnordmetric-metric-sensor .content {
  width: 100%;
  display: flex;
  flex-direction: row;
  min-height: 100%;
  border-top: 1px solid #d1d1d1;
}

.fnordmetric-metric-sensor .content .sidebar {
  width: 190px;
  padding: 20px;
  border-right: 1px solid #d1d1d1;
  background: rgba(0,0,0,0.04);
}

.fnordmetric-metric-sensor .content .sidebar h3 {
  margin-top: 0;
  font-weight: normal;
  color: #394b59;
  font-size: 15px;
}

.fnordmetric-metric-sensor .content .sidebar ul.value_columns {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.fnordmetric-metric-sensor .content .sidebar ul.value_columns li {
  display: block;
  width: 100%;
  line-height: 30px;
  padding: 0 8px;
}

.fnordmetric-metric-sensor .content .sidebar ul.value_columns li i {
  padding: 5px;
  float: right;
}

.fnordmetric-metric-sensor .content .sidebar ul.value_columns li i:hover {
  cursor: pointer;
}

.fnordmetric-metric-sensor .content .sidebar ul.value_columns li i::before {
  content: "\f070";
}

.fnordmetric-metric-sensor .content .sidebar ul.value_columns li.selected i::before {
  content: "\f06e";
}

.fnordmetric-metric-sensor .content .sidebar ul.value_columns li.selected:hover {
  background: #f6f8fa;
}

.fnordmetric-metric-sensor .content .chart_box_container {
  width: 100%;
  background: rgba(0,0,0,0.04);
  padding: 18px 23px;
}

.fnordmetric-metric-sensor .content .chart_box_container .chart_box {
  width: 100%;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  background: #fff;
  margin-bottom: 30px;
}

.fnordmetric-metric-sensor .content .chart_box_container .chart_box h2.chart_title {
  padding: 0 10px;
  font-size: 110%;
  font-weight: 400;
  margin: 0;
  line-height: 38px;
}

.fnordmetric-metric-sensor .content .chart_box_container .chart_box .chart {
  border-top: 1px solid #d1d1d1;
  height: 150px;
}
