.fnordmetric-metric-list table.metric_list {
  width: 100%;
  margin-top: 5px;
  border-collapse: collapse;
  font-size: 90%;
}

.fnordmetric-metric-list table.metric_list th {
  padding: 10px 0 10px 10px;
  background-color: rgba(0,0,0,0.04);
  font-weight: normal;
}

.fnordmetric-metric-list table.metric_list tr {
  border-bottom: 1px solid #dbdedf;
}

.fnordmetric-metric-list table.metric_list tr:hover td  {
  background-color: #d7e4f2;
}

.fnordmetric-metric-list table.metric_list td {
  padding: 10px 0 10px 10px;
  text-align: center;
}

.fnordmetric-metric-list table.metric_list tr {
  border-bottom: 1px solid rgb(226, 232, 237);
}

.fnordmetric-metric-list table.metric_list tr.list_header {
  border-top: 2px solid rgb(226, 232, 237);
  border-bottom: 2px solid rgb(226, 232, 237);
  background-color: #f6f8fa;
  color: #60707f;
}

.fnordmetric-metric-list table.metric_list tr.list_header i.sort {
  float: right;
  line-height: 40px;
}

.fnordmetric-metric-list table.metric_list th,
.fnordmetric-metric-list table.metric_list td {
  text-align: left;
  font-weight: 400;
  border: none;
  height: 38px;
  line-height: 38px;
  font-size: 109%;
  padding: 0 20px;
}

.fnordmetric-metric-list table.metric_list th {
  line-height: 40px;
}

.fnordmetric-metric-list table.metric_list th {
  border-right: 1px solid rgb(226, 232, 237);
}

.fnordmetric-metric-list table.metric_list .clickable:hover {
  cursor:pointer;
}

.fnordmetric-metric-list table.metric_list tr:hover td {
  background-color: #f6f8fa;
  cursor: pointer;
}

.fnordmetric-metric-list .hidden {
  display: none;
}

.fnordmetric-metric-list .error {
  margin-top: 20%;
  text-align: center;
}
