.fnordmetric-metric-serie .hidden {
  display: none;
}

.fnordmetric-metric-serie .content {
  width: 100%;
  display: flex;
  flex-direction: row;
  min-height: 100%;
  border-top: 1px solid #d1d1d1;
}

.fnordmetric-metric-serie .content .sidebar {
  display: none;
}

/*
.fnordmetric-metric-serie .content .sidebar {
  width: 208px;
  padding: 0 20px 0 14px;
  background: rgba(0,0,0,0.04);
}

.fnordmetric-metric-serie .content .sidebar.right {
  width: 250px;
}
*/

.fnordmetric-metric-serie .content .view_content {
  height: 100%;
}

.fnordmetric-metric-serie .content .table_box {
  flex: 1;
  min-height: 600px;
  border-left: 1px solid #d1d1d1;
  border-right: 1px solid #d1d1d1;
}

.fnordmetric-metric-serie .content .table_box z-pager {
  float: right;
  margin: 13px 20px;
  font-size: 13px;
}

/* sidebar filter */
.fnordmetric-metric-serie .content .sidebar .filter {
  font-size: 12px;
  border-bottom: 1px solid #d9d9d9;
  padding: 14px 0 10px 0;
}

.fnordmetric-metric-serie .content .sidebar .filter .filter_title {
  line-height: 18px;
}

.fnordmetric-metric-serie .content .sidebar .filter .filter_title h4 {
  margin: 0;
  font-weight: 500;
  text-transform: uppercase;
}

.fnordmetric-metric-serie .content .sidebar .filter a.link.edit {
  font-size: 11px;
  float: right;
}

.fnordmetric-metric-serie .content .sidebar .filter .filter_value {
  font-family: monospace;
  padding: 0 9px;
  margin-top: 5px;
  line-height: 28px;
  background: #e8e8e8;
}

.fnordmetric-metric-serie .content .sidebar a.add_filter {
  font-size: 13px;
  display: block;
  line-height: 24px;
  margin-top: 14px;
  text-align: center;
}

/**
.fnordmetric-metric-serie .content .sidebar ul.value_columns {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.fnordmetric-metric-serie .content .sidebar ul.value_columns li {
  display: block;
  width: 100%;
  line-height: 30px;
  padding: 0 8px;
}

.fnordmetric-metric-serie .content .sidebar ul.value_columns li i {
  padding: 5px;
  float: right;
}

.fnordmetric-metric-serie .content .sidebar ul.value_columns li i:hover {
  cursor: pointer;
}

.fnordmetric-metric-serie .content .sidebar ul.value_columns li i::before {
  content: "\f070";
}

.fnordmetric-metric-serie .content .sidebar ul.value_columns li.selected i::before {
  content: "\f06e";
}

.fnordmetric-metric-serie .content .sidebar ul.value_columns li.selected:hover {
  background: #f6f8fa;
}
**/
.fnordmetric-metric-serie .content .controls {
  background: rgba(0,0,0,0.04);
  width: 100%;
  overflow: visible;
  height: 37px;
}

.fnordmetric-metric-serie .content .controls > .control {
  float: right;
  height: 38px;
  line-height: 40px;
  margin: 0 15px 0 10px;
  font-size: 13px;
}

.fnordmetric-metric-serie .content .controls > .control.left {
  float: left;
}

.fnordmetric-metric-serie .content .controls > .control label {
  float: left;
  font-size: 12px;
  font-weight: 400;
  vertical-align: top;
  margin-right: 5px;
}

.fnordmetric-metric-serie .content .controls > .control i.fa {
  padding: 0 8px;
  font-size: 14px;
  font-weight: 600;
}

.fnordmetric-metric-serie .content .controls > .control i.fa:hover {
  cursor: pointer;
  color: #333;
}

.fnordmetric-metric-serie .content .controls > .control f-dropdown button.btn {
  line-height: 40px;
}

.fnordmetric-metric-serie z-modal.filter .z-modal-header {
  background: rgba(25, 32, 37, 1);
  color: #cdd3d8;
}
.fnordmetric-metric-serie z-modal.filter .z-modal-content .input_container {
  padding: 18px 0 18px 0;
}

.fnordmetric-metric-serie z-modal.filter .z-modal-content .input_container label {
  line-height: 30px;
  margin-right: 5px;
  vertical-align: top;
  font-weight: 500;
  font-size: 15px;
  width: 62px;
}

.fnordmetric-metric-serie z-modal.filter .z-modal-content .input_container input {
  vertical-align: top;
  width: 300px;
}

.fnordmetric-metric-serie z-modal.filter .z-modal-content .input_container .description {
  margin-top: 13px;
  display: block;
  margin-left: 69px;
}

.fnordmetric-metric-serie z-modal.filter .z-modal-footer button {
  float: right;
}

/** erorr message **/
.fnordmetric-metric-serie .view_content .error_pane {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fnordmetric-metric-serie .view_content .error_pane h1 {
  
}

/** table view **/
.fnordmetric-metric-serie .content table.f-table {
  margin-top: 0;
  border-top: 1px solid #d1d1d1;
}

.fnordmetric-metric-serie .content table.f-table th,
.fnordmetric-metric-serie .content table.f-table td {
  background: #fff;
}

/** timeseries view **/
.fnordmetric-metric-serie .content .timeseries {
  width: 100%;
  background: rgba(0,0,0,0.04);
  padding: 3px 11px 18px 12px;
}

.fnordmetric-metric-serie .content .timeseries .chart_box {
  width: 100%;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  background: #fff;
  margin-bottom: 20px;
}

.fnordmetric-metric-serie .content .timeseries .chart_box .chart_canvas .dygraph-axis-label-x,
.fnordmetric-metric-serie .content .timeseries .chart_box .chart_canvas .dygraph-axis-label-y,
.fnordmetric-metric-serie .content .timeseries .chart_box .chart_canvas .dygraph-axis-label-y1,
.fnordmetric-metric-serie .content .timeseries .chart_box .chart_canvas .dygraph-axis-label-y2 {
  font-size: 12px;
  color: #737373;
}

