.time_navigation {
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding-top: 8px;
  margin-left: 200px;
  height: 60px;
}

.time_navigation .group {
  float:right;
  margin-right: 25px;
  height: 100%;
}

.time_navigation .group:first-child {
  margin-right: 15px;
}

.time_navigation .group b {
  font-size: 80%;
  line-height: 12px;
  font-weight: 500;
  display: block;
  margin-bottom: 6px;
  opacity: 0.7;
}

.time_navigation .group fn-daterangepicker /deep/ .wrapper * {
  float: left;
}

