<div class="colorbg intro">
  <div id="wrap" class="<%= @doc_yield ? :large : nil %>" style="padding-top:15px;">
      <div id="header">
        <a class="menu" href="/documentation/support">Support</a>
        <a class="menu" href="http://github.com/paulasmuth/fnordmetric" target="_blank">Github</a>
        <a class="menu" href="/download">Download</a>
        <a class="menu" href="/documentation">Documentation</a>
        <a class="menu" href="/examples">Examples</a>
        <h1><a href="/">FnordMetric</a></h1>
      </div>

      <div class="jumbotron">
        <h1>Create charts and dashboards from SQL</h1>
        <p class="lead">
          FnordMetric extends standard SQL; it allows to express queries that
          return SVG charts rather than tables. Turning a query result into a chart
          is literally one line of code.
        </p>
      </div>

      <div style="height:430px; margin: auto; width: 850px;">
        <div style="box-shadow:0 -5px 190px 15px rgba(255,255,255,0.24); width:798px; height:495px; margin-left: 24px;"></div>
        <a href="/documentation"><img src="/img/screenshot_1.png" style="width:850px; position:relative; top:-512px;" /></a>
      </div>
<!--

      <div class="leadtext">
        <p>FnordMetric is a framework for collecting and visualizing timeseries data. It enables you to build beautiful real-time analytics dashboards within minutes.</p>
        <p>FnordMetric is a framework for collecting and visualizing timeseries data. It enables you to build beautiful real-time analytics dashboards within minutes.</p>

        <a class="button first">
          See examples
        </a>
        <a class="button">
          Download FnordMetric 2.0.0-beta
        </a>
      </div>
-->
      <br style="clear:both;" />
  </div>
</div>
<div id="wrap" style="min-height: 900px;">
  <section style="border-top: none; margin-top: 0;">
    <h1>What is FnordMetric?</h1>
    <p>
      FnordMetric consists of two components: a query engine that executes a
      superset of standard SQL against a number of backends and a C++ library
      that renders SVG charts from plain old data. While you could use each of
      these components on its own, awesomness ensues when you mash them together.
      Think peanut butter and jelly.
    </p>
    <!--
        -> 100% open source, licensed as mit

        -> renders to svg
           -> completely customizable with css (examples)
           -> I can't believe its not javascript!
           -> scales automatgically (resize me)

FnordMetric UI is a HTML5 / JavaScript API that lets you plug real-time data and charts into any
webpage without writing a single line of code. It gives you maximum flexiblitiy as you have full
control over layout and style with HTML and CSS.
    -->

    <div style="height:300px">
    </div>

    <p>
      FnordMetric is licensed under the GNU General Public License v3.0
    </p>
  </section>

  <section>
    <h1>Examples</h1>
    <p>
      An example says more than a thousand words so here is how you generate a
      few shiny charts using nothing else than plain old SQL.
    </p>
    <div class="using_fm">
      <ul class="fancylist">
        <li>
          <h3>Command Line Interface</h3>
          <p>Lorem ipsum</p>
        </li>
        <li>
          <h3>Web Interface</h3>
          <p>Lorem ipsum</p>
        </li>
        <li>
          <h3>Language Binding</h3>
          <p>Lorem ipsum</p>
        </li>
        <li>
          <h3>HTTP API</h3>
          <p>Lorem ipsum</p>
        </li>
      </ul>

      <div class="preview">
      </div>
    </div>
  </section>

  <section>
    <h1>Using FnordMetric</h1>
    <p>
      FnordMetric consists of two components: a query engine that executes standard SQL
      queries against a number of backends and a C++ library that renders SVG charts
      from plain old data. While you can use each of these components on its own,
      awesomness ensues when you mash them together. Think peanut butter and jelly.
    </p>
    <div class="using_fm">
      <ul class="fancylist">
        <li>
          <h3>Command Line Interface</h3>
          <p>Lorem ipsum</p>
        </li>
        <li>
          <h3>Web Interface</h3>
          <p>Lorem ipsum</p>
        </li>
        <li>
          <h3>Language Binding</h3>
          <p>Lorem ipsum</p>
        </li>
        <li>
          <h3>HTTP API</h3>
          <p>Lorem ipsum</p>
        </li>
      </ul>

      <div class="preview">
      </div>
    </div>
  </section>


  <section style="margin-bottom: 80px;">
    <h1>Getting Started with FnordMetric</h1>
  </section>
</div>

<div id="footer">
  built in london with ♥  by <a href="http://paulasmuth.com">paul asmuth</a>
</div>


<!--
<p class="biglink"><a href="http://railscasts.com/episodes/378-fnordmetric" target="_blank">Watch the Screencast on Railscasts.com</a></p>
<hr style="margin-bottom:55px;" />

<div class="code_snippets" style="margin-right:50px;">
  <div class="title">Render a Timeseries Chart with the HTML5 API</div>
  <pre class="dark">
    <code style="overflow:hidden">
  <span style="color:#d33682;">&lt;div</span>
    <span style="color:#fff;">data-fnordmetric=</span><span style="color:#dc332f;">"timeseries"</span>
    <span style="color:#fff;">data-since=</span><span style="color:#dc332f;">"-10minutes"</span>
    <span style="color:#fff;">data-until=</span><span style="color:#dc332f;">"now"</span>
    <span style="color:#fff;">data-gauges=</span><span style="color:#dc332f;">"sales_in_euro"</span>
    <span style="color:#fff;">data-autoupdate=</span><span style="color:#dc332f;">"1"</span>
    <span style="color:#d33682;">&gt;&lt;/div&gt;</span>
    </code>
  </pre>
  <a href="/documentation/ui_index" class="link">Getting Started with the HTML 5 API &rarr;</a>
</div>
<div class="code_snippets">

  <div class="title">Render a Timeseries Chart with the Ruby DSL</div>
  <pre class="dark">
    <code>
  widget 'Sales',
    <span style="color:#d33682;">:title</span> =&gt; <span style="color:#dc332f;">"Sales in Euro</span>,
    <span style="color:#d33682;">:gauges</span> =&gt; [<span style="color:#d33682;">:sales_in_euro</span>],
    <span style="color:#d33682;">:type</span> =&gt; <span style="color:#d33682;">:timeline</span>,
    <span style="color:#d33682;">:width</span> =&gt; <span style="color:#b58900;">100</span>,
    <span style="color:#d33682;">:autoupdate</span> =&gt; <span style="color:#b58900;">1</span>
    </code>
  </pre>
  <a href="/documentation/classic_index" class="link">Getting Started with the Ruby DSL &rarr;</a>
</div>
-->

