<!DOCTYPE html>
<html>
  <head>
    <title>FnordMetric | <%= @title || "Framework for building beautiful real-time dashboards" %></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <link href='/documentation.css' type='text/css' rel='stylesheet' />
    <link href='/vendor/prettify.css' type='text/css' rel='stylesheet' />
    <script src="/vendor/prettify.js"></script>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  </head>
  <body onload="prettyPrint();">
    <%= @yield %>

    <!--
      <div id="footer">
        built in berlin with ♥  by <a href="http://paulasmuth.com">paul asmuth</a>
      </div>
    -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-11365464-7']);
      _gaq.push(['_setDomainName', 'fnordmetric.io']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>


