<!DOCTYPE html>
<html>
  <head>
    <title>FnordMetric | <%= @title || "Framework for building beautiful real-time dashboards" %></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <link href='/documentation.css' type='text/css' rel='stylesheet' />
    <link href='/vendor/prettify.css' type='text/css' rel='stylesheet' />
    <script src="/vendor/prettify.js"></script>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  </head>
  <body onload="prettyPrint();">

    <div id="wrap" class="<%= @doc_yield ? :large : nil %>" style="padding-top:25px;">
      <div id="header">
        <a class="menu" href="/documentation/support">Support</a>
        <a class="menu" href="http://github.com/paulasmuth/fnordmetric" target="_blank">Github</a>
        <a class="menu" href="/screenshots">Screenshots</a>
        <a class="menu" href="/documentation">Documentation</a>
        <h1><a href="/">FnordMetric</a></h1>
      </div>

      <%= @yield %>

      <div id="footer">
        built in berlin with ♥  by <a href="http://paulasmuth.com">paul asmuth</a>
      </div>
    </div>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-11365464-7']);
      _gaq.push(['_setDomainName', 'fnordmetric.io']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>


