f-timerange-picker {
  display: inline-block;
  line-height: inherit;
  position: relative;
}

f-timerange-picker .clear_fix {
  clear: both;
}

f-timerange-picker .error {
  color: #F0514E;
  visibility: hidden;
}

f-timerange-picker input.invalid {
  border: 1px solid #F0514E;
}

f-timerange-picker input:hover {
  cursor: pointer;
}

f-timerange-picker::selection,
f-timerange-picker input::selection {
  background: transparent;
}

/** date_field **/

f-timerange-picker .date_field {
  display: inline-block;
  line-height: 29px;
  padding: 0px;
  background: #fff;
  font-size: 12px;
  color: #333;
  border: 1px solid #bbb;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0,0,0,.1);
  font-weight: 500;
}

f-timerange-picker .date_field:hover {
  cursor: pointer;
}

f-timerange-picker .date_field .date_value {
  display: inline-block;
}

f-timerange-picker .date_field input {
  border: none;
  border-radius: 2px;
  line-height: 30px;
}

f-timerange-picker .date_field i.fa {
  line-height: 29px;
  padding: 0 9px;
  vertical-align: middle;
  background-color: #F4F4F4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#e9e9e9));
  background-image: -webkit-linear-gradient(top, #fefefe, #e9e9e9);
  background-image: -moz-linear-gradient(top, #fefefe, #e9e9e9);
  background-image: -ms-linear-gradient(top, #fefefe, #e9e9e9);
  background-image: -o-linear-gradient(top, #fefefe, #e9e9e9);
  background-image: linear-gradient(top, #fefefe, #e9e9e9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe', EndColorStr='#e9e9e9');
  border-color: #bbb;
  border-style: solid;
  border-width: 0px;
}

f-timerange-picker .date_field i.fa.fa-calendar {
  margin-right: 4px;
  border-right-width: 1px;
}

f-timerange-picker .date_field i.fa.fa-caret-down {
  margin-left: 4px;
  border-left-width: 1px;
}

f-timerange-picker .widget .date_field i.fa.fa-calendar {
  margin-right: 0px;
  margin-left: 0px;
  border-right-width: 0px;
  border-left-width: 1px;
  vertical-align: top;
  line-height: 30px;
}

f-timerange-picker i.mover {
  font-size: 17px;
  vertical-align: middle;
  opacity: .8;
  color: rgba(0,0,0,.4);
  height: 1em;
  line-height: 1;
  font-weight: bold;
  padding: 0 8px;
  margin: 0;
  cursor: pointer;
}

f-timerange-picker i.mover.disabled {
  cursor: initial;
  opacity: 0.6;
}

f-timerange-picker .widget {
  position: absolute;
  top: 100%;
  right: 0px;
  margin-top: 14px;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0,0,0,.09);
  z-index: 9999;
  padding: 13px;
  display: none;
  width: 513px;
  font-size: 12px;
}

f-timerange-picker .widget::before,
f-timerange-picker .widget::after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  border: 15px solid transparent;
  right: 23px;
}

f-timerange-picker .widget::before {
  border-bottom-color: #fff;
  top: -29px;
  z-index: 2;
}

f-timerange-picker .widget::after {
  border-bottom-color: #bbb;
  top: -30px;
  z-index: 1;
}

/**
f-timerange-picker .widget::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: #e6edf6;
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
  z-index: -1;
  top: -5px;
  left: 50%;
  margin-left: -5px;
  -webkit-transform: scaleX(0.6) rotate(45deg);
  -ms-transform: scaleX(0.6) rotate(45deg);
  transform: scaleX(0.6) rotate(45deg);
}

f-timerange-picker .widget::after {
  content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    z-index: -1;

}

f-timerange-picker .widget::before {
  left: 14px;
}
**/
f-timerange-picker .widget.active {
  display: block;
}

f-timerange-picker .widget .footer,
f-timerange-picker .widget .inner {
  overflow: auto;
}

f-timerange-picker .widget .footer {
  padding-top: 13px;
}

f-timerange-picker .widget .inner .col {
  width: auto;
  float: left;
}

f-timerange-picker .widget .inner .col.custom {
  width: 285px;
  margin-right: 20px;
}

f-timerange-picker .widget .inner .col.predefined {
  margin-left: 20px;
}

f-timerange-picker .widget .inner .col.custom form {
  opacity: 0.5;
}

f-timerange-picker .widget .inner .col.custom.active form {
  opacity: 1;
}

f-timerange-picker .widget .inner .col.custom form .input_wrapper {
  position: relative;
  float: left;
}

f-timerange-picker .widget .inner .col.custom form .input_wrapper label {
  width: 28px;
  display: inline-block;
}

f-timerange-picker .widget .inner .col.custom form .input_wrapper input.invalid + .error {
  visibility: visible;
}

f-timerange-picker .widget .inner .col.custom form .input_wrapper .error {
  line-height: 13px;
  margin-left: 33px;
}

f-timerange-picker .widget .inner .col.custom form .calendar_box {
  position: absolute;
  background: #fff;
  z-index: 999;
  left: 33px;
  margin-top: -5px;
}

f-timerange-picker .widget .inner .col.custom form input:hover {
  cursor: initial;
}

f-timerange-picker .widget .inner .col.custom.active form input:hover {
  cursor: pointer;
}

f-timerange-picker .widget .inner .col.custom a.link.custom {
  text-decoration: underline;
}

f-timerange-picker .widget .inner ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

f-timerange-picker .widget .inner ul.timeranges {
  float: right;
}

f-timerange-picker .widget .inner ul.timeranges li {
  margin-top: 5px;
}

f-timerange-picker .widget .inner ul button.btn {
  width: 160px;
  text-align: left;
  line-height: 2.8em;
}

f-timerange-picker .widget .inner ul button.btn.active {
  background-color: #F4F4F4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#e9e9e9));
  background-image: -webkit-linear-gradient(top, #fefefe, #e9e9e9);
  background-image: -moz-linear-gradient(top, #fefefe, #e9e9e9);
  background-image: -ms-linear-gradient(top, #fefefe, #e9e9e9);
  background-image: -o-linear-gradient(top, #fefefe, #e9e9e9);
  background-image: linear-gradient(top, #fefefe, #e9e9e9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe', EndColorStr='#e9e9e9');
}

f-timerange-picker .widget .timezone f-dropdown {
  display: inline-block;
}

f-timerange-picker .widget .timezone f-dropdown ul {
  width: 100%;
  line-height: 28px;
}

f-timerange-picker .widget .timezone f-dropdown ul li:hover {
  font-weight: 500;
}

f-timerange-picker .widget .timezone f-dropdown button.btn,
f-timerange-picker .widget .footer button.btn {
  background-color: #F4F4F4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#e9e9e9));
  background-image: -webkit-linear-gradient(top, #fefefe, #e9e9e9);
  background-image: -moz-linear-gradient(top, #fefefe, #e9e9e9);
  background-image: -ms-linear-gradient(top, #fefefe, #e9e9e9);
  background-image: -o-linear-gradient(top, #fefefe, #e9e9e9);
  background-image: linear-gradient(top, #fefefe, #e9e9e9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe', EndColorStr='#e9e9e9');
  border-color: #bbb;
}

f-timerange-picker .widget .footer button.btn {
  float: right;
  margin-left: 5px;
}

f-timerange-picker table.calendar {
  border: 1px solid #eee;
  padding: 5px;
  margin: 0px;
  color: #444;
  border-radius: 3px;
  border-collapse: collapse;
}

f-timerange-picker table.calendar thead tr td {
  border-bottom: 1px solid #d1d1d1;
  line-height: 38px;
}

f-timerange-picker table.calendar .title {
  text-align: left;
  font-weight: 500;
}

f-timerange-picker table.calendar .prev,
f-timerange-picker table.calendar .next {
  padding: 0;
}

f-timerange-picker table.calendar .prev span,
f-timerange-picker table.calendar .next span {
  color: #0189FF;
  cursor: pointer;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  vertical-align: middle;
  padding: 0px 3px 1px 3px;
}

f-timerange-picker table.calendar .prev::selection,
f-timerange-picker table.calendar .next::selection {
  background: transparent;
}

f-timerange-picker table.calendar td {
  text-align: center;
  line-height: 22px;
  padding: 0 9px;
}

f-timerange-picker table.calendar tr.weekdays td {
  padding-top: 5px;
  color: #828285;
}

f-timerange-picker table.calendar tr:last-child td {
  padding-bottom: 5px;
}

f-timerange-picker table.calendar tr.dates td:hover {
  cursor: pointer;
}

f-timerange-picker table.calendar tr.dates td.cur_date {
  font-weight: 600;
}

f-timerange-picker table.calendar tr.dates td.selected {
  padding: 0 5px;
}

f-timerange-picker table.calendar tr.dates td.selected span {
  background-color: #cdd3d8;
  border-radius: 50%;
  padding: 4px;
}

f-timerange-picker table.calendar tr.dates td.disabled {
  opacity: 0.5;
}

f-timerange-picker table.calendar tr.dates td.disabled:hover {
  cursor: initial;
}

