/**
 * Adapted from: Semantic UI:
 *   https://github.com/Semantic-Org/Semantic-UI
 *   http://www.semantic-ui.com/
 */
fn-button,
.fn-button,
fn-button * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

fn-button,
.fn-button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: none;
  border: none;
  vertical-align: baseline;
  color: rgba(0, 0, 0, 0.6);
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background: transparent !important;
  background-image: none;
  font-weight: normal;
  box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.15) inset;
  margin: 0em 0.25em 0em 0em;
  padding: 0.78571em 1.5em 0.78571em;
  text-transform: none;
  text-shadow: none;
  font-weight: bold;
  line-height: 1;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  background-image: none;
  border-radius: 0.2857rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
          transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  -webkit-tap-highlight-color: transparent;
}

fn-button:hover,
.fn-button:hover {
  background: #fafafa !important;
  color: rgba(0, 0, 0, 0.8) !important;
  box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.15) inset, 0px 0px 0px 0px rgba(39, 41, 43, 0.15) inset;
}

fn-button:focus,
.fn-button:focus {
  background-color: '';
  background-image: '';
  box-shadow: 0px 0px 0px 1px transparent inset, 0px 0px 1px rgba(81, 167, 232, 0.8) inset, 0px 0px 3px 2px rgba(81, 167, 232, 0.8);
  color: rgba(0, 0, 0, 0.8);
}


fn-button i,
.fn-button i {
  display: inline-block;
  opacity: 1;
  margin: 0 .25rem 0 0;
  width: 1.23em;
  height: .9em;
  font-family: Icons;
  font-style: normal;
  line-height: 1;
  font-weight: 400;
  text-decoration: inherit;
  text-align: center;
  speak: none;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/*******************************
     Fluid
*******************************/
fn-button[data-style='fluid'],
.fn-button[data-style='fluid']{
  display: block;
  width: 100%
}

/*******************************
     Disabled
*******************************/
fn-button[data-state='disabled'],
.fn-button[data-state='disbaled'] {
  cursor: default;
  background-color: #dcddde !important;
  color: rgba(0, 0, 0, 0.4) !important;
  opacity: 0.3 !important;
  background-image: none !important;
  box-shadow: none !important;
  pointer-events: none;
}

/*******************************
     Mockup
*******************************/
fn-button[data-state='mockup'],
.fn-button[data-state='mockup'] {
  cursor: default;
  box-shadow: none !important;
  pointer-events: none;
}


/*******************************
     Button Groups
*******************************/
fn-button-group {
  display: inline-block;
  vertical-align: middle;
  margin: 0em 0.25em 0em 0em;
  border: 1px solid rgba(39, 41, 43, 0.15);
  border-radius: 0.2857rem;
}

fn-button-group fn-button:first-child {
  border-left: none;
  margin-left: 0em;
  border-top-left-radius: 0.2857rem;
  border-bottom-left-radius: 0.2857rem;
}

fn-button-group fn-button:last-child {
  border-top-right-radius: 0.2857rem;
  border-bottom-right-radius: 0.2857rem;

}

fn-button-group fn-button {
  margin: 0em;
  float: left;
  border-radius: 0em;
  margin: 0px 0px 0px 0px;
  box-shadow: none;
  border-left: 1px solid rgba(39, 41, 43, 0.15);
}

fn-button-group[data-split-evenly] {
  width: 100%;
}






