/**
 * Adapted from: Semantic UI:
 *   https://github.com/Semantic-Org/Semantic-UI
 *   http://www.semantic-ui.com/
 */
input.fn-input {
  margin: 0em;
  width: 100%;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-align: left;
  line-height: 1.2142em;
  font-family: "Helvetica Neue", "Helvetica", Arial;
  padding: 0.67861em 1em;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.2857rem;
  -webkit-transition: background-color 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
          transition: background-color 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
  box-shadow: none;
}



/*--------------------
      Placeholder
---------------------*/


/* browsers require these rules separate */
input.fn-input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
input.fn-input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
input.fn-input:focus {
  border-color: rgba(39, 41, 43, 0.3);
  background: '';
  color: rgba(0, 0, 0, 0.8);
  box-shadow: none;
}
input.fn-input:focus input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.8);
}
input.fn-input:focus input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.8);
}

/*--------------------
        Active
---------------------*/

input.fn-input:active {
  border-color: rgba(0, 0, 0, 0.3);
  background: #fafafa;
  color: rgba(0, 0, 0, 0.8);
  box-shadow: none;
}

/*--------------------
        Focus
---------------------*/


input.fn-input:focus {
  border-color: rgba(39, 41, 43, 0.3);
  background: '';
  color: rgba(0, 0, 0, 0.8);
  box-shadow: none;
}
.ui.input.focus input input::-webkit-input-placeholder,
.ui.input input:focus input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.8);
}
.ui.input.focus input input::-moz-placeholder,
.ui.input input:focus input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.8);
}




