/**
 * Adapted from: Semantic UI:
 *   https://github.com/Semantic-Org/Semantic-UI
 *   http://www.semantic-ui.com/
 */
fn-message,
.fn-message {
  display: block;
  position: relative;
  min-height: 1em;
  margin: 1em 0em;
  background: #efefef;
  padding: 1em 1.5em;
  line-height: 1.3;
  color: rgba(0, 0, 0, 0.8);
  -webkit-transition: opacity 0.2s ease, color 0.2s ease, background 0.2s ease, box-shadow 0.2s ease;
          transition: opacity 0.2s ease, color 0.2s ease, background 0.2s ease, box-shadow 0.2s ease;
  border-radius: 0.2857rem;
  box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.15) inset, 0px 0px 0px 0px transparent;
  font-size: 1em;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

fn-message:first-child,
.fn-message:first-child {
  margin-top: 0em;
}
fn-message:last-child,
.fn-message:last-child {
  margin-bottom: 0em;
}

/* Header */
fn-message fn-message-header,
.fn-message .fn-message-header {
  display: block;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0em 0em 0.5rem 0em;
  font-size:1.1em;
}

fn-message fn-message-text,
.fn-message .fn-message-text {
  opacity: 0.85;
  margin: 0.75em 0em;
}
fn-message fn-message-text:first-child,
.fn-message .fn-message-text:first-child {
  margin-top: 0em;
}

fn-message fn-message-text:last-child,
.fn-message .fn-message-text:last-child {
  margin-bottom: 0em;
}

fn-message fn-message-header + fn-message-text,
.fn-message .fn-message-header + .fn-message-text {
  margin-top: 0.25em;
}

/*--------------
      List
---------------*/
fn-message ul,
.fn-message ul{
  opacity: 0.85;
  list-style-position: inside;
  margin: 0.5em 0em 0em;
  padding: 0em;
}

.fn-message ul:first-child,
.fn-message ul:first-child {
  margin-top: 0em;
}

fn-message ul:last-child,
.fn-message ul:last-child {
  margin-bottom: 0em;
}

fn-message ul li ,
.fn-message ul li{
  position: relative;
  list-style-type: none;
  margin: 0em 0em 0.3em 1em;
  padding: 0em;
}

fn-message ul li:before,
.fn-message ul li:before {
  position: absolute;
  content: '';
  left: -1em;
  height: 100%;
  vertical-align: baseline;
}

fn-message ul li:last-child,
.fn-message ul li:last-child {
  margin-bottom: 0em;
}

/*--------------
      Icon
---------------*/

fn-message fn-message-icon,
.fn-message .fn-message-icon {
  display: table-cell;
  width: auto;
  vertical-align: middle;
  font-size: 3em;
  opacity: 0.8;
  margin: 0 .25rem 0 0;
  height: .9em;
  font-style: normal;
  line-height: 1;
  font-weight: 400;
  text-decoration: inherit;
  text-align: center;
  speak: none;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
fn-message fn-message-content,
.fn-message .fn-message-content {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}
fn-message fn-message-icon + fn-message-content,
.fn-message .fn-message-icon + .fn-message-content {
  padding-left: 1.5rem;
}

fn-message > fn-message-close-icon,
.fn-message > .fn-message-close-icon {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  margin: 0em;
  top: 1.15em;
  right: 0.5em;
  opacity: 0.7;
  -webkit-transition: opacity 0.1s linear;
          transition: opacity 0.1s linear;
  width: 1.23em;
  height: .9em;
  font-style: normal;
  font-family: FontAwesome;
  line-height: 1;
  font-weight: 400;
  text-decoration: inherit;
  text-align: center;
  speak: none;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
fn-message > fn-message-close-icon:hover,
.fn-message > .fn-message-close-icon:hover{
  opacity: 1;
}

fn-message-close-icon:before,
.fn-message-close-icon:before{
  content: "\f00d";
}

/*--------------
      States
---------------*/
/* Warning */
fn-message[data-state='warning'],
.fn-message[data-state='warning'] {
  background-color: #fffbe6;
  color: #876a38;
}
fn-message[data-state='warning'],
.fn-message[data-state='warning']{
  box-shadow: 0px 0px 0px 1px #d9caab inset, 0px 1px 2px 0 rgba(0, 0, 0, 0.05);
}
fn-message[data-state='warning'] fn-message-header,
.fn-message[data-state='warning'] .fn-message-header {
  color: #825c01;
}

/* Info */
fn-message[data-state='info'],
.fn-message[data-state='info'] {
  background-color: #e9faff;
  color: #337b92;
}
fn-message[data-state='info'] ,
.fn-message[data-state='info'],
.ui.attached.info.message {
  box-shadow: 0px 0px 0px 1px #aad6df inset, 0px 1px 2px 0 rgba(0, 0, 0, 0.05);
}
fn-message[data-state='info'] fn-message-header,
.fn-message[data-state='info'] .fn-message-header {
  color: #297187;
}

/* Positive */
fn-message[data-state='success'],
.fn-message[data-state='success'] {
  background-color: #eeffe7;
  color: #3c763d;
}

fn-message[data-state='success'],
.fn-message[data-state='success'],
.ui.attached.positive.message {
  box-shadow: 0px 0px 0px 1px #b7caa7 inset, 0px 1px 2px 0 rgba(0, 0, 0, 0.05);
}
fn-message[data-state='success'] fn-message-header,
.fn-message[data-state='success'] .fn-message-header {
  color: #356e36;
}

/* Negative */
fn-message[data-state='error'],
.fn-message[data-state='error'] {
  background-color: #fff0f0;
  color: #a94442;
}
fn-message[data-state='error'],
.fn-message[data-state='error'],
.ui.attached.negative.message {
  box-shadow: 0px 0px 0px 1px #dbb1b1 inset, 0px 1px 2px 0 rgba(0, 0, 0, 0.05);
}
fn-message[data-state='error'] fn-message-header,
.fn-message[data-state='error'] .fn-message-header{
  color: #912d2b;
}

/* Hidden */
fn-message[data-state='hidden'],
.fn-message[data-state='hidden'] {
  display: none;
}

/*--------------
  Variations
---------------*/
/* Fluid */

/* Compact */
fn-message[data-compact],
.fn-message[data-compact] {
  display: inline-block;
}

fn-message[data-float],
.fn-message[data-float] {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15), 0px 0px 0px 1px rgba(39, 41, 43, 0.15) inset;
}

/*--------------
  Sizes
---------------*/
fn-message[data-style='small'],
.fn-message[data-style='small'] {
  font-size: 0.92857143em;
}
fn-message,
.fn-message {
  font-size: 1em;
}
fn-message[data-style='large'],
.fn-message[data-style='large'] {
  font-size: 1.14285714em;
}
fn-message[data-style='huge'],
.fn-message[data-style='huge'] {
  font-size: 1.42857143em;
}
fn-message[data-style='massive'],
.fn-message[data-style='massive'] {
  font-size: 1.71428571em;
}

/*--------------
    Attached
---------------*/
fn-message[data-attached],
.fn-message[data-attached] {
  margin-bottom: -1px;
  border-radius: 0.2857rem 0.2857rem 0em 0em;
  box-shadow: 0em 0em 0em 1px rgba(0, 0, 0, 0.1) inset;
  margin-left: -1px;
  margin-right: -1px;
}
fn-message[data-attached]  + .ui.attached.message:not(.top):not(.bottom) {
  margin-top: -1px;
  border-radius: 0em;
}
fn-message[data-attached='bottom'],
.fn-message[data-attached='bottom'] {
  margin-top: -1px;
  border-radius: 0em 0em 0.2857rem 0.2857rem;
  box-shadow: 0em 0em 0em 1px rgba(0, 0, 0, 0.1) inset, 0px 1px 2px 0 rgba(0, 0, 0, 0.05);
}
fn-message[data-attached='bottom']:not(:last-child),
.fn-message[data-attached='bottom']:not(last-child){
  margin-bottom: 1em;
}





