/**
 * Adapted from: Semantic UI:
 *   https://github.com/Semantic-Org/Semantic-UI
 *   http://www.semantic-ui.com/
 */

fn-progressbar {
  position: relative;
  display: block;
  max-width: 100%;
  border: 1px solid rgba(39,41,43,.15);
  margin: 1em 0 2.5em;
  box-shadow: none;
  background: rgba(0,0,0,.03);
  padding: .2857em;
  border-radius: .2857rem;
  font-size: 1rem;
}

fn-progressbar /deep/ .bar {
  display: block;
  height: 1.75em;
  line-height: 1;
  position: relative;
  width: 0;
  min-width: 2em;
  background: #888;
  border-radius: .2857rem;
  -webkit-transition: width .2s linear,background-color .2s linear;
  transition: width .2s linear,background-color .2s linear;
}

fn-progressbar[data-state='active'] /deep/ .bar {
  position: relative;
  min-width: 2em;
}

fn-progressbar[data-state='active']  /deep/ .bar::after {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  border-radius: .2857rem;
  -webkit-animation: progress-active 2s ease infinite;
  animation: progress-active 2s ease infinite;
}

fn-progressbar[data-state='success'] /deep/ .bar {
  background-color: #5bbd72!important;
}

fn-progressbar[data-state='warning'] /deep/ .bar {
  background-color: #f2c037!important;
}

fn-progressbar[data-state='error'] /deep/ .bar {
  background-color: #d95c5c!important;
}

fn-progressbar[data-state='disabled'] /deep/ .bar {
  animation: none!important;
  -webkit-animation: none!important;
}

fn-progressbar /deep/ .bar > .progress {
  white-space: nowrap;
  position: absolute;
  width: auto;
  font-size: .9em;
  top: 50%;
  right: .5em;
  left: auto;
  bottom: auto;
  color: rgba(255,255,255,.8);
  text-shadow: none;
  margin-top: -.5em;
  font-weight: 700;
  text-align: left;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  line-height: 1;
}

fn-progressbar /deep/ .label {
  position: absolute;
  width: 100%;
  font-size: 1em;
  top: 100%;
  right: auto;
  left: 0;
  bottom: auto;
  color: rgba(0,0,0,.8);
  font-weight: 700;
  text-shadow: none;
  margin-top: .2em;
  text-align: center;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
}


fn-progressbar[data-state='success']  /deep/ .label {
  color : #356e36;
}

fn-progressbar[data-state='warning']  /deep/ .label {
  color : #825c01;
}

fn-progressbar[data-state='error']  /deep/ .label {
  color : #d95c5c;
}


