
ul.fn-pagination {
  display: inline-block;
  list-style-type:none;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.3em;
  color: rgba(0,0,0,.8);
}

ul.fn-pagination li.fn-pagination-item {
  display: inline;
}

ul.fn-pagination li.fn-pagination-item {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: rgba(0,0,0,.8);
  background-color: #fff;
  border: 1px solid #ddd;
}

ul.fn-pagination>li:first-child {
margin-left: 0;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}

ul.fn-pagination>li:last-child {
margin-right: 0;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
}

ul.fn-pagination li.fn-pagination-item a {
  color: rgba(0,0,0,.8);
  text-decoration: none;
  line-height: 1.42857143;
}

ul.fn-pagination li.fn-pagination-icon-prev,
ul.fn-pagination li.fn-pagination-icon-next {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: rgba(0,0,0,.8);
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

ul.fn-pagination li.fn-pagination-icon-prev a:before,
ul.fn-pagination li.fn-pagination-icon-next a:before {
  font-family: FontAwesome;
  color: rgba(0,0,0,.8);
  text-decoration: none;

}
ul.fn-pagination li.fn-pagination-icon-prev a:before {
  content: "\f100";
}
ul.fn-pagination li.fn-pagination-icon-next a:before {
  content: "\f101";
}
