body, html {
  height: 100%;
}

fnordmetric-app,
#fnordmetric-viewport {
  display: block;
}

h1.page_header {
  margin: 0 0 0 20px;
}

.le_fnord {
  float: left;
  line-height: 49px;
  color: #cdd3d8;
  margin: 0;
  padding: 0;
  margin-left: -10px;
  font-family: "Arial";
  width: 51px;
  text-align: center;
  font-size: 24px;
  border-right: 1px solid #2e3135;
  font-weight: 600;
}
