/** input **/
f-timerange-picker {
  display: inline-block;
  line-height: inherit;
  position: relative;
}

f-timerange-picker .clear_fix {
  clear: both;
}

f-timerange-picker .error {
  color: #F0514E;
  visibility: hidden;
}

f-timerange-picker input {
  width: 233px;
}

f-timerange-picker input.invalid {
  border: 1px solid #F0514E;
}

f-timerange-picker input:hover {
  cursor: pointer;
}

f-timerange-picker::selection,
f-timerange-picker input::selection {
  background: transparent;
}

f-timerange-picker .arrow_left,
f-timerange-picker .arrow_down,
f-timerange-picker .arrow_right {
  padding: 0 5px;
  vertical-align: middle;
  display: inline-block;
  width: 0;
  height: 0;
  cursor: pointer;
  border-top: 9px solid transparent;
}

f-timerange-picker .arrow_left,
f-timerange-picker .arrow_right {
  border-bottom: 9px solid transparent;
}

f-timerange-picker .arrow_left.disabled,
f-timerange-picker .arrow_right.disabled {
  cursor: initial;
  opacity: 0.6;
}

f-timerange-picker .arrow_left {
  border-right: 9px solid #999;
}

f-timerange-picker .arrow_right {
  border-left: 9px solid #999;
}

f-timerange-picker .arrow_down {
  width: 0;
  height: 0;
  padding: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #999;
}

f-timerange-picker .widget {
  position: relative;
  left: 23px;
  top: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0px 4px 7px #ccc;
  z-index: 9999;
  overflow: auto;
  padding: 13px;
  display: none;
}

f-timerange-picker .widget.active {
  display: block;
}

f-timerange-picker .widget .footer,
f-timerange-picker .widget .inner {
  overflow: auto;
}

f-timerange-picker .widget .footer {
  padding-top: 13px;
}

f-timerange-picker .widget .inner .col {
  width: auto;
  float: left;
}

f-timerange-picker .widget .inner .col.custom {
  width: 285px;
  margin-right: 20px;
}

f-timerange-picker .widget .inner .col.predefined {
  margin-left: 20px;
}

f-timerange-picker .widget .inner .col.custom form {
  opacity: 0.5;
}

f-timerange-picker .widget .inner .col.custom.active form {
  opacity: 1;
}

f-timerange-picker .widget .inner .col.custom form .input_wrapper {
  position: relative;
  float: left;
}

f-timerange-picker .widget .inner .col.custom form .input_wrapper label {
  width: 28px;
}

f-timerange-picker .widget .inner .col.custom form .input_wrapper .icon {
  float: right;
  margin-left: 5px;
}

f-timerange-picker .widget .inner .col.custom form .input_wrapper input.invalid + .error {
  visibility: visible;
}

f-timerange-picker .widget .inner .col.custom form .input_wrapper .error {
  line-height: 13px;
  margin-left: 33px;
}

f-timerange-picker .widget .inner .col.custom form .calendar_box {
  position: absolute;
  background: #fff;
  z-index: 999;
  left: 33px;
  margin-top: -5px;
}

f-timerange-picker .widget .inner .col.custom form input:hover {
  cursor: initial;
}

f-timerange-picker .widget .inner .col.custom.active form input:hover {
  cursor: pointer;
}

f-timerange-picker .widget .inner .col.custom a.link.custom {
  text-decoration: underline;
}

f-timerange-picker .widget .inner ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

f-timerange-picker .widget .inner ul.timeranges {
  float: right;
}

f-timerange-picker .widget .inner ul button.btn {
  width: 160px;
  text-align: left;
  line-height: 2.8em;
}

f-timerange-picker .widget .footer button.btn {
  float: right;
}

f-timerange-picker table.calendar {
  border: 1px solid #eee;
  padding: 5px;
  margin: 0px;
  color: #444;
  border-radius: 3px;
  border-collapse: collapse;
}

f-timerange-picker table.calendar thead tr td {
  border-bottom: 1px solid #d1d1d1;
  line-height: 38px;
}

f-timerange-picker table.calendar .title {
  text-align: left;
  font-weight: 500;
}

f-timerange-picker table.calendar .prev,
f-timerange-picker table.calendar .next {
  padding: 0;
}

f-timerange-picker table.calendar .prev span,
f-timerange-picker table.calendar .next span {
  color: #0189FF;
  cursor: pointer;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  vertical-align: middle;
  padding: 0px 3px 1px 3px;
}

f-timerange-picker table.calendar .prev::selection,
f-timerange-picker table.calendar .next::selection {
  background: transparent;
}

f-timerange-picker table.calendar td {
  text-align: center;
  line-height: 22px;
  padding: 0 9px;
}

f-timerange-picker table.calendar tr.weekdays td {
  padding-top: 5px;
  color: #828285;
}

f-timerange-picker table.calendar tr:last-child td {
  padding-bottom: 5px;
}

f-timerange-picker table.calendar tr.dates td:hover {
  cursor: pointer;
}

f-timerange-picker table.calendar tr.dates td.cur_date {
  font-weight: 600;
}

f-timerange-picker table.calendar tr.dates td.selected {
  padding: 0 5px;
}

f-timerange-picker table.calendar tr.dates td.selected span {
  background-color: #cdd3d8;
  border-radius: 50%;
  padding: 4px;
}

f-timerange-picker table.calendar tr.dates td.disabled {
  opacity: 0.5;
}

f-timerange-picker table.calendar tr.dates td.disabled:hover {
  cursor: initial;
}

