/** input **/
f-timerange-picker {
  display: inline-block;
  line-height: inherit;
  position: relative;
}

f-timerange-picker input {
  width: 230px;
}

f-timerange-picker input:hover {
  cursor: pointer;
}

f-timerange-picker::selection,
f-timerange-picker input::selection {
  background: transparent;
}

f-timerange-picker .arrow_left,
f-timerange-picker .arrow_right {
  padding: 0 5px;
  vertical-align: middle;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
}

f-timerange-picker .arrow_left {
  border-right: 9px solid #999;
}

f-timerange-picker .arrow_right {
  border-left: 9px solid #999;
}

f-timerange-picker .arrow_left:hover,
f-timerange-picker .arrow_right:hover {
  cursor: pointer;
}

f-timerange-picker .widget {
  position: static;
  top: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0px 4px 7px #ccc;
  z-index: 9999;
  overflow: auto;
  display: none;
}

f-timerange-picker .widget.active {
  display: block;
}

f-timerange-picker .widget .inner .col {
  width: 50%;
  float: left;
}

f-timerange-picker .widget .inner .col.custom form {
  opacity: 0.5;
}

f-timerange-picker .widget .inner .col.custom form input:hover {
  cursor: initial;
}

f-timerange-picker .widget .inner .col.custom.active form {
  opacity: 1;
}

f-timerange-picker .widget .inner .col.custom.active form input:hover {
  cursor: pointer;
}

f-timerange-picker .widget .inner .col.custom a.link.custom {
  text-decoration: underline;
}

f-timerange-picker .widget .inner ul {
  list-style-type: none;
  margin: 0;
}

f-timerange-picker .widget .inner ul button.btn {
  width: 160px;
  text-align: left;
  line-height: 2.8em;
}

f-timerange-picker .widget .footer button.btn {
  float: right;
}

