/** input **/
f-timerange-picker {
  display: inline-block;
  line-height: inherit;
  position: relative;
}

f-timerange-picker input {
  width: 230px;
}

f-timerange-picker input:hover {
  cursor: pointer;
}

f-timerange-picker::selection,
f-timerange-picker input::selection {
  background: transparent;
}

f-timerange-picker .arrow_left,
f-timerange-picker .arrow_right {
  padding: 0 5px;
  vertical-align: middle;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  cursor: pointer;
}

f-timerange-picker .arrow_left.disabled,
f-timerange-picker .arrow_right.disabled {
  cursor: initial;
  opacity: 0.6;
}

f-timerange-picker .arrow_left {
  border-right: 9px solid #999;
}

f-timerange-picker .arrow_right {
  border-left: 9px solid #999;
}

f-timerange-picker .widget {
  position: static;
  top: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0px 4px 7px #ccc;
  z-index: 9999;
  overflow: auto;
  display: none;
}

f-timerange-picker .widget.active {
  display: block;
}

f-timerange-picker .widget .inner .col {
  width: 50%;
  float: left;
}

f-timerange-picker .widget .inner .col.custom form {
  opacity: 0.5;
}

f-timerange-picker .widget .inner .col.custom form input:hover {
  cursor: initial;
}

f-timerange-picker .widget .inner .col.custom.active form {
  opacity: 1;
}

f-timerange-picker .widget .inner .col.custom.active form input:hover {
  cursor: pointer;
}

f-timerange-picker .widget .inner .col.custom a.link.custom {
  text-decoration: underline;
}

f-timerange-picker .widget .inner ul {
  list-style-type: none;
  margin: 0;
}

f-timerange-picker .widget .inner ul button.btn {
  width: 160px;
  text-align: left;
  line-height: 2.8em;
}

f-timerange-picker .widget .footer button.btn {
  float: right;
}

f-timerange-picker table.calendar {
  border: 1px solid #eee;
  padding: 5px;
  margin: 5px;
  color: #444;
  border-radius: 3px;
}

f-timerange-picker table.calendar .prev,
f-timerange-picker table.calendar .next {
  color: #999;
  cursor: pointer;
}

f-timerange-picker table.calendar td {
  text-align: center;
  line-height: 22px;
  padding: 0 3px;
}

f-timerange-picker table.calendar tr.weekdays td {
  font-weight: 600;
}

f-timerange-picker table.calendar tr.dates td:hover {
  cursor: pointer;
}

f-timerange-picker table.calendar tr.dates td.cur_date {
  border: 1px solid blue;
}

f-timerange-picker table.calendar tr.dates td.selected {
  background-color: blue;
}

f-timerange-picker table.calendar tr.dates td.disabled {
  opacity: 0.5;
}

f-timerange-picker table.calendar tr.dates td.disabled:hover {
  cursor: initial;
}

