body, html{ height:100%; padding:0px;}
body {
  color:#333;
  margin:0;
  padding:0;
  overflow-y:scroll;
  font: 12px/20px "Gotham Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x:hidden;
}

body.inner{ background:#fff; margin-right:10px; }

h1{
  font-size:24px;
  color:#333;
  margin:0 0 6px 17px;
  font-weight:bold;
}

h3{
  font-size:12px;
  color:#444;
  margin:0 0 0 18px;
  font-weight:500;
}

hr{
  border:none;
  border-top:1px solid #ddd;
}

a.link{
  color:#2281CF;
  text-decoration:none;
}

a.link:hover{
  text-decoration:underline;
}

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

button,
input {
  *overflow: visible;
  line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration{
  -webkit-appearance: none;
}

input[type="search"], input[type="text"]{
  border:1px solid #cecece;
  background:#fff;
  border-radius:3px;
  height: 28px;
  line-height: 28px;
  padding: 0 8px;
  color: #333;
  font-size: 14px;
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.1) inset;
}


table{ width:100%; }
table td, th{ text-align:left; border-bottom:1px solid #dedede; height:42px; }
table tr td:first-child{ padding-left:15px; }
table th{ background:#efefef; }

.navbar{
  height:49px;
  background:url('img/navbar.png');
}

.navbar h1{
  text-align:center;
  color:#525252;
  font-weight:500;
  line-height:49px;
  font-size:16px;
}

.navbar h1 a.current{
  color:#333;
  font-weight:700;
}

a.button{
  display:block;
  text-decoration:none;
  float:right;
  line-height:25px;
  height:25px;
  background:url('img/navbar_btn.png');
  margin-right:30px;
  padding:0 20px;
  margin-top:12px;
  border:1px solid #979797;
  box-shadow:0 1px 0 #fff;
  border-radius:3px;
  cursor:pointer;
}

a.button.back{
  float:left;
  margin-left:17px;
  font-weight: bold;
  font-size: 20px;
  line-height: 21px;
  padding: 0 11px;
  color:#555;
}

a.button:hover, a.button.dark{
background-color: #F4F4F4;
background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e9e9e9));
background-image: -webkit-linear-gradient(top, #f4f4f4, #e9e9e9);
background-image: -moz-linear-gradient(top, #f4f4f4, #e9e9e9);
background-image: -ms-linear-gradient(top, #f4f4f4, #e9e9e9);
background-image: -o-linear-gradient(top, #f4f4f4, #e9e9e9);
background-image: linear-gradient(top, #f4f4f4, #e9e9e9);
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f4f4f4', EndColorStr='#e9e9e9');
color:#000;
}

a.button:active, a.button.dark:hover{
  background:#ddd;
}

a.button.dark:active{
  background:#ccc;
}

.navbar a.button.datepicker, a.button.datepicker_sa{
  padding-left:0;
  padding-right:10px;
  margin-right:15px;
}

.navbar a.button.datepicker .date, a.button.datepicker_sa .date{
  background: white;
  padding: 0 13px;
  border-right: 1px solid #DDD;
  box-shadow: 0 0 2px #ddd inset;
  font-style:italic;
  display:inline-block;
  margin-right:10px;
  color:#555;
}

.navbar a.button.datepicker i, a.button.datepicker_sa i{
  font-size: 17px;
  float: right;
  margin-top: 0px;
}

a.button.datepicker_sa {
  margin-top:0;
  height: 35px;
  float:none;
  background-color: #F4F4F4;
  background-image: -webkit-linear-gradient(top, #ffffff, #e9e9e9);
  background-image: -moz-linear-gradient(top, #ffffff, #e9e9e9);
  background-image: -ms-linear-gradient(top, #ffffff, #e9e9e9);
  background-image: -o-linear-gradient(top, #ffffff, #e9e9e9);
  background-image: linear-gradient(top, #ffffff, #e9e9e9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#e9e9e9');
}

a.button.datepicker_sa:hover {
  background: #f4f4f4;
}

a.button.datepicker_sa .date {
  height: 35px;
  line-height: 37px;
}

a.button.datepicker_sa i {
  margin-top:7px;
}

.navbar + h1{
  margin-top:22px;
}

.navbar .button.navbutton{
  padding-right:13px;
}

.navbar .navbutton i{
  margin-left:-7px;
  margin-right:6px;
  display:inline-block;
}


.navbar a.button:first-child{
  margin-right:38px;
}

.picto{ display:block; height:14px; width:14px; float:left; opacity:0.7; }
.picto.piechart{ background-position:-42px -173px; width:9px; margin-right:5px; }

#viewport{ float:left; margin-left:220px; min-width:790px; }
#viewport .viewport_inner{ margin:0 6px; background:#fff; padding-top:1px; padding-bottom:1px; }

#viewport, #sidebar ul li:hover, #sidebar ul li.active{ background:#24272c; box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.4); }


.headbar {

  height:36px;
background-color: #F4F4F4;
background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e9e9e9));
background-image: -webkit-linear-gradient(top, #f4f4f4, #e9e9e9);
background-image: -moz-linear-gradient(top, #f4f4f4, #e9e9e9);
background-image: -ms-linear-gradient(top, #f4f4f4, #e9e9e9);
background-image: -o-linear-gradient(top, #f4f4f4, #e9e9e9);
background-image: linear-gradient(top, #f4f4f4, #e9e9e9);
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f4f4f4', EndColorStr='#e9e9e9');
padding: 0 25px;
border-bottom: 1px solid #C9C9C9;
border-top: 1px solid #d0d0d0;
font-size:13px;
line-height:29px;
text-shadow: 1px 0px 2px rgba(255, 255, 255, 1);
-moz-text-shadow: 1px 0px 2px rgba(255,255,255,1);
-webkit-text-shadow: 1px 0px 2px rgba(255,255,255,1);
  overflow:hidden;
}

.headbar.small{ height:29px; }

.headbar h2{ line-height:37px; margin:0; float:left; font-size:14px; }
.headbar .datepicker{ background:#fff; border:1px solid #999; height:20px; padding:0 7px; float:right; margin:8px -1px; min-width:100px; font-size:11px; font-style:italic; line-height:21px; }
.headbar .button.mr{ margin-right:16px; }
.headbar .button.ml{ margin-left:16px; }

.headbar .button{
  margin:8px 0px; height:16px; float:right; display:block;
  margin-right:-1px;
  border:1px solid #999;
  border-bottom-color:#888;
  box-shadow: 0 1px 0 #fff;
  cursor:pointer;
  border-radius:3px;
  font-size: 11px;
  font-weight:bold;
  line-height:16px;
  padding:2px 6px;
  text-align:center;
  text-decoration:none;
  vertical-align:top;
  white-space:nowrap;
  background:url('img/navbar_btn.png');
}

.headbar .button:hover{background:#e8e8e8;border-bottom-color:#999;-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .05)}

 .headbar .button.active{background:#e3e3e3;border-bottom-color:#999;-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .05)}

.headbar .button:active{ background:#ddd; }

.headbar .btn_group.mr{  }

.headbar .btn_group .button{
  border-radius:0;
}

.headbar .btn_group .button:last-child{
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

.headbar .btn_group .button:first-child{
  border-top-right-radius:3px;
  border-bottom-right-radius:3px;
}



