body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  background-color: #111;
  /*text-shadow:0 0 1px #000;*/
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1, h2, h3 { line-height: 40px; }
h1 { font-size: 38.5px; }
h2 { font-size: 26.5px; }
h3 { font-size: 17.5px; }
h4 { font-size: 17.5px; }
h5 { font-size: 14px; }
h6 { font-size: 11.9px; }

hr {
  border:none;
  border-top: 1px solid #222;
}

#wrap {
  width:850px; margin:auto;
}

#wrap.large {
  width: 915px;
}

.jumbotron {
  margin: 60px 0;
  text-align: center;
}

.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}

.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
}

.biglink {
  text-align:center;
  margin-bottom: 50px;
  font-size: 17.5px;
  font-weight: 300;
  line-height: 30px;
  text-rendering: optimizelegibility;
}

.biglink a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #666;
}

#header {
  border-bottom: 1px solid #222;
}

#footer {
  margin-top:70px;
  border-top: 1px solid #222;
  padding:15px 0;
  font-size:12px;
  margin-bottom:15px;
  color:#777;
}

#footer a {
  color:#777;
}

#header h1 { 
  font-size:23.5px;
  margin-bottom:25px;
}

#header h1 a {
  color:#fff;
  text-decoration:none;
}

#header a.menu {
  float:right;
  color:#fff;
  text-decoration:none;
  line-height:26px;
  margin-top:9px;
  margin-left:25px;
}

#header a.menu:hover {
  border-bottom: 1px solid #666;
}

.headbar {
  height:36px;
  background-color: #F4F4F4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e9e9e9));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #e9e9e9);
  background-image: -moz-linear-gradient(top, #f4f4f4, #e9e9e9);
  background-image: -ms-linear-gradient(top, #f4f4f4, #e9e9e9);
  background-image: -o-linear-gradient(top, #f4f4f4, #e9e9e9);
  background-image: linear-gradient(top, #f4f4f4, #e9e9e9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f4f4f4', EndColorStr='#e9e9e9');
  padding: 0 25px;
  border-bottom: 1px solid #C9C9C9;
  border-top: 1px solid #d0d0d0;
  line-height:29px;
  color: #333;
  font-size:14px;
  line-height:35px;
  font-weight:bold;
  margin:0;
  text-shadow: 1px 0px 2px rgba(255, 255, 255, 1);
  -moz-text-shadow: 1px 0px 2px rgba(255,255,255,1);
  -webkit-text-shadow: 1px 0px 2px rgba(255,255,255,1);
  overflow:hidden;
}

#navigation {
  height:1200px;
  width:210px;
  padding-top:15px;
  float:left;
}

#navigation ul {
  list-style-type:none;
  margin: 0;
  padding: 0 0 0 20px;
}

#navigation ul li {
  font-size: 14px;
  line-height:30px;
}

#navigation ul li a {
  text-decoration: none;
  color: #333;
}

#navigation ul li a:hover {
  text-decoration: underline;
}

#navigation a.nav_title {
  display:block;
  text-transform: uppercase;
  font-family: Arial,sans-serif;
  font-weight: bold;
  font-size: 11px;
  margin: 20px 0 8px 0;
  padding: 15px 0 0 22px;
  border-top: 1px white solid;
  box-shadow: 0 -1px 0 #d7dbe6;
  color:#666;
}

#documentation {
  width:620px;
  padding: 25px 40px;
  float:left;
  color: #333;
  font-size: 14px;
  line-height:24px;
  border-left:1px solid #c7c9cc;
  background:#fff;
  padding-bottom:70px;
  min-height:1200px;
}

#documentation_wrap {
  min-height:600px;
  border-radius:5px;
  border:1px solid #ddd;
  border-top:none;
  box-shadow:0 0 5px #000;
  overflow:hidden;
  width:920px;
  background:#f4f4f4;
}

#documentation h3 {
  margin-top: 25px;
  margin-bottom: 0;
  padding-bottom: 0;
}

#documentation p {
  margin-top: 4px;
}

#documentation a {
  color: #06c;
  text-decoration: none;
}

#documentation a:hover {
  text-decoration: underline;
}

code {
  padding: 2px 5px;
  font-family: "Monaco", monospace;
  background-color: #f8f8f8;
  border: 1px solid #cacaca;
  border-radius: 3px;
  text-shadow: 0 1px 0 #fff;
  overflow: auto;
  font-size:12px;
}

pre code {
  padding: 10px 15px;
  display: block;
}

pre {
  margin-bottom: 25px;
}

hr.space {
  border: none;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}

table td, table th {
  padding: 6px 13px;
  border: 1px solid #ccc;
}

table th {
  font-weight: 600;
  color: #333;
  vertical-align:top;
  width: 125px;
}

table th i {
  font-weight: 400;
  font-size: 12px;
}

table tr:nth-child(2) {
  background-color: #f8f8f8;
}

table td p {
  margin-bottom: 0;
  padding-bottom: 0;
}
