/**
 * Adapted from: Semantic UI:
 *   https://github.com/Semantic-Org/Semantic-UI
 *   http://www.semantic-ui.com/
 */
/*******************************
            Accordion
*******************************/

fn-accordion,
.fn-accordion {
  display:block;
  max-width: 100%;
  font-size: 1em;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  line-height: 1.33em;
}


fn-accordion fn-accordion-item,
.fn-accordion .fn-accordion-item {
  display:block;
}

/* Title */
fn-accordion fn-accordion-title,
.fn-accordion .fn-accordion-title {
  cursor: pointer;
  display:block;
}

/* Default Styling */
fn-accordion fn-accordion-title,
.fn-accordion .fn-accordion-title {
  padding: 0.5em 0em;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.8);
}

/* Content */
fn-accordion fn-accordion-item fn-accordion-content,
.fn-accordion .fn-accordion-item .fn-accordion-content{
  display:none;
}

/* Default Styling */
fn-accordion fn-accordion-item fn-accordion-title ~ fn-accordion-content ,
.fn-accordion .fn-accordion-title ~ .fn-accoridion-content {
  margin: 0em;
  padding: 0.5em 0em 1em;
}

fn-accordion fn-accordion-item:last-child fn-accordion-title ~ fn-accordion-content {
  padding-bottom: 0;
}

/* Arrow */
fn-accordion fn-accordion-title:before,
.fn-accordion .fn-accordion-title:before {
  font-family: FontAwesome;
  content: '\f0da';
  display: inline-block;
  float: none;
  opacity: 0.75;
  width: 1.25em;
  height: 1em;
  margin: 0em 0.25rem 0em 0rem;
  padding: 0em;
  font-size: 1em;
  -webkit-transition: -webkit-transform 0.2s ease, opacity 0.2s ease;
          transition: transform 0.2s ease, opacity 0.2s ease;

}

/*******************************
            States
*******************************/
fn-accordion fn-accordion-item[data-active] fn-accordion-title:before,
.fn-accordion .fn-accordion-item[data-active] fn-accordion-title:before {
  content: '\f0d7';
}


fn-accordion fn-accordion-item[data-active] fn-accordion-content,
.fn-accordion .fn-accordion-item[data-active] .fn-accordion-content{
  display:block;
}

/*******************************
         Types
*******************************/


/*--------------
     Box Style
---------------*/
fn-accordion[data-box-style],
.fn-accordion[data-box-style] {
  width: 600px;
  border-radius: 0.2857rem;
  background: #ffffff;
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.05), 0px 0px 0px 1px rgba(39, 41, 43, 0.15);
}

fn-accordion[data-box-style] fn-accordion-title,
.fn-accordion[data-box-style] .fn-accordion-title {
  margin: 0em;
  padding: 0.75em 1em;
  color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
    -webkit-transition: background 0.2s ease, color 0.2s ease;
          transition: background 0.2s ease, color 0.2s ease;
}

fn-accordion[data-box-style] fn-accordion-item,
.fn-accordion[data-box-style] .fn-accordion-item {
  border-top: 1px solid rgba(39, 41, 43, 0.15);
}

fn-accordion[data-box-style] fn-accordion-item:first-child,
.fn-accordion[data-box-style] .fn-accordion-item:first-child {
  border-top: none;
}

/* Content */
fn-accordion[data-box-style] fn-accordion-item fn-accordion-content,
.fn-accordion[data-box-style] .fn-accordion-item .fn-accordion-content {
  margin: 0em;
  padding: 0.5em 1em 1.5em;
}

fn-accordion[data-box-style] fn-accordion-item:last-child fn-accordion-title ~ fn-accordion-content {
  padding-bottom: 1.5em;
}


/* Hover */
fn-accordion[data-box-style] fn-accordion-item:hover fn-accordion-title,
.fn-accordion[data-box-style] .fn-accordion-item:hover .fn-accordion-title,
fn-accordion[data-box-style] fn-accordion-item[data-active] fn-accordion-title,
.fn-accordion[data-box-style] .fn-accordion-item[data-active] .fn-accordion-title {
  background: transparent;
  color: rgba(0, 0, 0, 0.8);
}

/*--------------
     Fluid
---------------*/

fn-accordion[data-fluid],
.fn-accordion[data-fluid] {
  width: 100%;
}






