/**
 * Adapted from: Semantic UI:
 *   https://github.com/Semantic-Org/Semantic-UI
 *   http://www.semantic-fn-com/
 */

/*******************************
           Statistic
*******************************/


/* Standalone */
fn-statistic,
.fn-statistic {
  display: inline-block;
  margin: 1em 0em;
  max-width: 175px;
}

fn-statistic + fn-statistic,
.fn-statistic + .fn-statistic {
  margin: 0em 0em 0em 1em;
}

fn-statistic:first-child,
.fn-statistic:first-child {
  margin-top: 0em;
}

fn-statistic:last-child,
.fn-statistic:last-child {
  margin-bottom: 0em;
}

/* Grouped */
fn-statistics > fn-statistic,
.fn-statistics > .fn-statistic {
  display: block;
  float: left;
  margin: 0em 1em 2em;
  max-width: 175px;
}

fn-statistics,
.fn-statistics {
  display:block;
}

/*******************************
            Group
*******************************/

fn-statistics,
.fn-statistics {
  display: block;
  margin: 1em -1em;
}

/* Clearing */
fn-statistics:after,
.fn-statistics:after {
  display: block;
  content: ' ';
  height: 0px;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
fn-statistics:first-child,
.fn-statistics:first-child {
  margin-top: 0em;
}
fn-statistics:last-child,
.fn-statistics:last-child {
  margin-bottom: 0em;
}

/*******************************
            Content
*******************************/


/*--------------
      Value
---------------*/
fn-statistics fn-statistic > fn-statistic-value,
fn-statistic > fn-statistic-value,
.fn-statistics .fn-statistic > .fn-statistic-value,
.fn-statistic > .fn-statistic-value {
  display:block;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 4rem;
  font-weight: normal;
  line-height: 1em;
  color: #1b1c1d;
  text-transform: uppercase;
  text-align: center;
}

/*--------------
     Label
---------------*/
fn-statistics fn-statistic > fn-statistic-label,
fn-statistic > fn-statistic-label,
.fn-statistics .fn-statistic > .fn-statistic-label,
.fn-statistic > .fn-statistic-label {
  display: block;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.4);
  text-transform: none;
  text-align: center;
}

/* Top Label */
fn-statistics fn-statistic > fn-statistic-label ~ fn-statistic-value,
fn-statistic > fn-statistic-label ~ fn-statistic-value,
.fn-statistics .fn-statistic > .fn-statistic-label ~ .fn-statistic-value,
.fn-statistic > .fn-statistic-label ~ .fn-statistic-value {
  margin-top: 0rem;
}

/* Bottom Label */
fn-statistics fn-statistic > fn-statistic-value ~ fn-statistic-label,
fn-statistic > fn-statistic-value ~ fn-statistic-label,
.fn-statistics .fn-statistic > .fn-statistic-value ~ .fn-statistic-label,
.fn-statistic > .fn-statistic-value ~ .fn-statistic-label {
  margin-top: 0.25rem;
}

/*******************************
            Variations
*******************************/


/*--------------
   Horizontal
---------------*/

fn-statistics[data-direction='horizontal'],
.fn-statistics[data-direction='horizontal']
fn-statistic[data-direction='horizontal'],
.fn-statistic[data-direction='horizontal'] {
  display: block;
  margin: 0em;
  max-width: 9999px;
}

fn-statistics[data-direction='horizontal'] fn-statistic,
.fn-statistics[data-direction='horizontal'] .fn-statistic{
  float: none;
  margin: 1em 0em;
  max-width: 9999px;
}

fn-statistics[data-direction='horizontal'] fn-statistic > fn-statistic-value,
fn-statistic[data-direction='horizontal'] > fn-statistic-value,
.fn-statistics[data-direction='horizontal'] .fn-statistic > .fn-statistic-value,
.fn-statistic[data-direction='horizontal'] > .fn-statistic-value {
  display: inline-block;
  vertical-align: middle;
}

fn-statistics[data-direction='horizontal'] fn-statistic > fn-statistic-label,
fn-statistic[data-direction='horizontal'] > fn-statistic-label,
.fn-statistics[data-direction='horizontal'] .fn-statistic > .fn-statistic-label,
.fn-statistic[data-direction='horizontal'] > .fn-statistic-label {
  display: inline-block;
  vertical-align: middle;
  margin: 0em 0em 0em 0.75em;
}

/*--------------
     Sizes
---------------*/


/* Mini */
fn-statistics[data-size='mini'] fn-statistic > fn-statistic-value,
fn-statistic[data-size='mini'] > fn-statistic-value,
.fn-statistics[data-size='mini'] .fn-statistic > .fn-statistic-value,
.fn-statistic[data-size='mini'] > .fn-statistic-value {
  font-size: 1.5rem;
}


/* Tiny */
fn-statistics[data-size='tiny'] fn-statistic > fn-statistic-value,
fn-statistic[data-size='tiny'] > fn-statistic-value,
.fn-statistics[data-size='tiny'] .fn-statistic > .fn-statistic-value,
.fn-statistic[data-size='tiny'] > .fn-statistic-value {
  font-size: 2rem;
}

/* Small */
fn-statistics[data-size='small'] fn-statistic > fn-statistic-value,
fn-statistic[data-size='small'] > fn-statistic-value,
.fn-statistics[data-size='small'] .fn-statistic > .fn-statistic-value,
.fn-statistic[data-size='small'] > .fn-statistic-value {
  font-size: 3rem;
}

/* Medium */
fn-statistics fn-statistic > fn-statistic-value,
fn-statistic > fn-statistic-value,
.fn-statistics .fn-statistic > .fn-statistic-value,
.fn-statistic > .fn-statistic-value {
  font-size: 4rem;
}


/* Large */
fn-statistics[data-size='large'] fn-statistic > fn-statistic-value,
fn-statistic[data-size='large'] > fn-statistic-value,
.fn-statistics[data-size='large'] .fn-statistic > .fn-statistic-value,
.fn-statistic[data-size='large'] > .fn-statistic-value {
  font-size: 5rem;
}
.ui.large.horizontal.statistics .statistic > .value,
.ui.large.horizontal.statistic > .value {
  font-size: 4rem;
}

/* Huge */
fn-statistics[data-size='huge'] fn-statistic > fn-statistic-value,
fn-statistic[data-size='huge'] > fn-statistic-value,
.fn-statistics[data-size='huge'] .fn-statistic > .fn-statistic-value,
.fn-statistic[data-size='huge'] > .fn-statistic-value {
  font-size: 6rem;
}
.ui.huge.horizontal.statistics .statistic > .value,
.ui.huge.horizontal.statistic > .value {
  font-size: 5rem;
}

/*--------------
    Floated
---------------*/
fn-statistic[data-float='left'],
.fn-statistic[data-float='left'] {
  float: left;
  margin: 0em 2em 1em 0em;
}

fn-statistic[data-float='right'],
.fn-statistic[data-float='right'] {
  float: right;
  margin: 0em 0em 1em 2em;
}

fn-statistic[data-float]:last-child,
.fn-statistic[data-float]:last-child {
  margin-bottom: 0em;
}


