<div id="documentation_wrap">
  <div class="headbar">Documentation</div>
  <div id="navigation">
    <ul>
      <li><a href="#">Getting Started</a></li>
    </ul>
    <a class="nav_title">FnordMetric UI</a>
    <ul>
      <li><a href="#">Getting Started</a></li>
      <li><a href="#">Getting Started</a></li>
      <li><a href="#">Getting Started</a></li>
      <li><a href="#">Getting Started</a></li>
    </ul>
    <a class="nav_title">FnordMetric Classic</a>
    <ul>
      <li><a href="#">Getting Started</a></li>
      <li><a href="#">Getting Started</a></li>
      <li><a href="#">Getting Started</a></li>
      <li><a href="#">Getting Started</a></li>
    </ul>
    <a class="nav_title">FnordMetric Enterprise</a>
    <ul>
      <li><a href="#">Getting Started</a></li>
      <li><a href="#">Getting Started</a></li>
      <li><a href="#">Getting Started</a></li>
      <li><a href="#">Getting Started</a></li>
    </ul>
  </div>

  <div id="documentation">
    <%= @doc_yield %>
  </div>
</div>

