<div class="jumbotron">
   <h1>Custom real-time dashboards</h1>
   <br>
   <p class="lead">FnordMetric powers highly customizable real-time analytics dashboards</p>
 </div>

<div style="height:530px;">
  <div style="box-shadow:0 -5px 190px 15px rgba(255,255,255,0.24); width:798px; margin-left:24px; height:495px;"></div>
  <img src="/img/preview3.png" style="width:850px; position:relative; top:-512px;" />
</div>

<p class="biglink"><a href="http://railscasts.com/episodes/378-fnordmetric" target="_blank">Watch the Screencast on Railscasts.com</a></p>
<hr />

