<!DOCTYPE html>
<html>
  <head>
    <title>FnordMetric</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <link href='/documentation.css' type='text/css' rel='stylesheet' />
    <link href='/vendor/prettify.css' type='text/css' rel='stylesheet' />
    <script src="/vendor/prettify.js"></script>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  </head>
  <body>

    <div id="wrap" class="<%= @doc_yield ? :large : nil %>" style="padding-top:25px;">
      <div id="header">
        <a class="menu" href="/documentation/support">Support</a>
        <a class="menu" href="http://github.com/paulasmuth/fnordmetric" target="_blank">Github</a>
        <a class="menu" href="/screenshots">Screenshots</a>
        <a class="menu" href="/documentation">Documentation</a>
        <h1><a href="/">FnordMetric</a></h1>
      </div>

      <%= @yield %>

      <div id="footer">
        built in berlin with ♥  by <a href="http://paulasmuth.com">paul asmuth</a>
      </div>
    </div>
  </body>
</html>


