<br /><br /><br />


<div style="height:515px;">
  <div style="box-shadow:0 -5px 190px 15px rgba(255,255,255,0.24); width:798px; margin-left:24px; height:495px;"></div>
  <a href="/documentation/classic_index"><img src="/img/screenshot_1.png" style="width:850px; position:relative; top:-512px;" /></a>
</div>
<h4 style="padding:0 23px 50px 23px;">FnordMetric Classic: Default Theme</h4>

<div style="height:515px;">
  <div style="box-shadow:0 -5px 190px 15px rgba(255,255,255,0.24); width:798px; margin-left:24px; height:460px;"></div>
  <a href="/documentation/ui_index"><img src="/img/screenshot_3.png" style="width:850px; position:relative; top:-477px;" /></a>
</div>
<h4 style="padding:0 23px 50px 23px;">FnordMetric UI: Simple Example</h4>

<div style="height:515px;">
  <div style="box-shadow:0 -5px 190px 15px rgba(255,255,255,0.24); width:798px; margin-left:24px; height:495px;"></div>
  <a href="/documentation/classic_index"><img src="/img/screenshot_2.png" style="width:850px; position:relative; top:-512px;" /></a>
</div>
<h4 style="padding:0 23px 50px 23px;">FnordMetric Classic: Default Theme</h4>
