<template id="fnordmetric-metric-table-filter-modal-tpl">
  <div class="z-modal-header">Filter</div>

  <div class="z-modal-content">
    <div class="input_container">
      <label>Filter by:</label>
      <input type="text" class="filter" />

      <span class="description">
          Example: starts_with(server, 'ngnix')
    </div>
  </div>

  <div class="z-modal-footer">
    <button class="fancy_button close">Cancel</button>
    <button class="fancy_button submit">Submit</button>
    <button class="fancy_button clear">Clear Filter</button>
  </div>
</template>
