<template id="fnordmetric-metric-table-tpl">
  <div class="fnordmetric-metric-table">
    <h1 class="page_header">Metrics &rsaquo; <em class='metric_selection'></em></h1>
    <div class="pagination_navbar"></div>

    <table class="f-table">
      <thead>
        <tr>
          <th>Metric <i class="fa sort fa-sort-amount-desc"></i></th>
          <th>Labels <i class="fa sort fa-sort-amount-desc"></i></th>
          <th>Last Insert <i class="fa sort fa-sort-amount-desc"></i></th>
          <th>Total stored bytes <i class="fa sort fa-sort-amount-desc"></i></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</template>

