.fnordmetric-metric-table .hidden {
  display: none;
}

.fnordmetric-metric-table .content {
  width: 100%;
  display: flex;
  flex-direction: row;
  min-height: 100%;
}

.fnordmetric-metric-table .content .sidebar {
  width: 160px;
  padding: 20px;
}

.fnordmetric-metric-table .content .table_box {
  flex: 1;
  min-height: 600px;
  padding: 20px;
}

.fnordmetric-metric-table .content .sidebar h3 {
  margin-top: 0;
  font-weight: normal;
  color: #394b59;
  font-size: 15px;
}

.fnordmetric-metric-table .content .sidebar ul.value_columns {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.fnordmetric-metric-table .content .sidebar ul.value_columns li {
  display: block;
  width: 100%;
  line-height: 24px;
}

.fnordmetric-metric-table .content .sidebar ul.value_columns li i {
  padding: 5px;
  float: right;
}

.fnordmetric-metric-table .content .sidebar ul.value_columns li i:hover {
  cursor: pointer;
}

.fnordmetric-metric-table .content .sidebar ul.value_columns li i::before {
  content: "\f070";
}

.fnordmetric-metric-table .content .sidebar ul.value_columns li.selected i::before {
  content: "\f06e";
}

.fnordmetric-metric-table z-modal.filter .z-modal-header {
  background: rgba(25, 32, 37, 1);
  color: #cdd3d8;
}

.fnordmetric-metric-table z-modal.filter .z-modal-content section {
  padding: 8px 0 18px 0;
}

.fnordmetric-metric-table z-modal.filter .z-modal-content section.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}

.fnordmetric-metric-table z-modal.filter .z-modal-content section label {
  line-height: 30px;
  margin-right: 5px;
  vertical-align: top;
}

.fnordmetric-metric-table z-modal.filter .z-modal-content section z-dropdown.inline z-dropdown-header {
  line-height: 30px;
  padding-left: 0;
}

.fnordmetric-metric-table z-modal.filter .z-modal-content section input {
  vertical-align: top;
}

.fnordmetric-metric-table z-modal.filter .z-modal-footer button {
  float: right;
}
