.fnordmetric-metric-table .content {
  width: 100%;
  display: flex;
  flex-direction: row;
  min-height: 100%;
}

.fnordmetric-metric-table .content .sidebar {
  width: 160px;
  padding: 20px;
}

.fnordmetric-metric-table .content .table_box {
  flex: 1;
  min-height: 600px;
  padding: 20px;
}

.fnordmetric-metric-table .content .sidebar h3 {
  margin-top: 0;
  font-weight: normal;
  color: #394b59;
  font-size: 15px;
}

.fnordmetric-metric-table .content .sidebar ul.value_columns {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.fnordmetric-metric-table .content .sidebar ul.value_columns li {
  display: block;
  width: 100%;
  line-height: 24px;
}

.fnordmetric-metric-table .content .sidebar ul.value_columns li i {
  padding: 5px;
  float: right;
}

.fnordmetric-metric-table .content .sidebar ul.value_columns li i:hover {
  cursor: pointer;
}

.fnordmetric-metric-table .content .sidebar ul.value_columns li i::before {
  content: "\f070";
}

.fnordmetric-metric-table .content .sidebar ul.value_columns li.selected i::before {
  content: "\f06e";
}
