<template id="fnordmetric-metric-table-tpl">
  <div class="fnordmetric-metric-table">
    <h1 class="page_header">Metrics &rsaquo; <em class='metric_name'></em></h1>
    <div class="pagination_navbar"></div>

    <div class="content">

      <div class="sidebar">
        <h3>Measurements</h3>
        <ul class="value_columns"></ul>
      </div>

      <div class="table_box">
        <div class="controls">
          <div class="control">
            <z-dropdown class="value_columns inline">
              <z-dropdown-header data-static>
                <z-dropdown-header-value>Metrics</z-dropdown-header>
              </z-dropdown-header>
              <z-dropdown-flyout>
                <z-dropdown-items></z-dropdown-items>
              </z-dropdown-flyout>
            </z-dropdown>
          </div>

          <div class="control">
            <i class="filter fa fa-filter"></i>
          </div>

          <div class="control">
            <i class="embed fa fa-code"></i>
          </div>
        </div>
        <table class="f-table metric-table">
        </table>
      </div>

    </div>

    <z-modal class="filter">
      <z-modal-box>
        <z-modal-close-icon></z-modal-close-icon>
        <div class="inner">
        </div>
      </z-modal-box>
    </z-modal>

  </div>
</template>

