/**
 * Adapted from: Semantic UI:
 *   https://github.com/Semantic-Org/Semantic-UI
 *   http://www.semantic-ui.com/
 */
 /*******************************
            Dropdown
*******************************/
fn-dropdown,
.fn-dropdown {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  display: inline-block;
  line-height: 1em;
  outline: none;
  text-align: left;
  font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 1rem;
  color: rgba(0,0,0,.8);
  tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: border-radius 0.1s ease, width 0.2s ease;
          transition: border-radius 0.1s ease, width 0.2s ease;
}

/*******************************
        Content
*******************************/
/*--------------
  Header Elem
---------------*/
fn-dropdown-header:after,
.fn-dropdown-header:after {
  font-size: inherit;
  font-family: FontAwesome;
  content: "\f0d7";
  display: inline-block;
  line-height: inherit;
  font-weight: 401;
  font-style: normal;
  text-align: center;
  width: auto;
  margin: 0 0 0 0.5em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  vertical-align:middle;
}

/*--------------
      Menu
---------------*/
fn-dropdown-menu,
.fn-dropdown-menu {
  display: none;
  list-style: none;
  cursor: pointer;
  position: absolute;
  outline: 0;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  text-shadow: none;
  text-align: left;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
  border: 1px solid rgba(39,41,43,.15);
  border-radius: 0 0 .2857rem .2857rem;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  z-index: 11;
  background-color: #fff;
  will-change: transform,opacity;
}

fn-dropdown-menu[data-active],
.fn-dropdown-menu[data-active] {
  display: inline-block;
}


/*--------------
    Menu Item
---------------*/
fn-dropdown-item,
.fn-dropdown-item {
  display:none;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}

fn-dropdown-menu[data-active] fn-dropdown-item,
.fn-dropdown-menu[data-active] .fn-dropdown-item {
  display: list-item;
  list-style: none;
  position: relative;
  cursor: pointer;
  border: none;
  height: auto;
  border-top: none;
  color: rgba(0, 0, 0, 0.8);
  padding: 0.65em 0.7em 0.65em 0.7em!important;
  text-transform: none;
  font-weight: normal;
  box-shadow: none;
  -webkit-touch-callout: none;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  line-height: inherit;
  vertical-align: baseline;
  overflow: hidden;
  text-align:left;
}

fn-dropdown-item[data-selected],
.fn-dropdown-item[data-selected] {
  font-weight: bold !important;
  color: rgba(0, 0, 0, 0.8) !important;
}

fn-dropdown-item:hover,
fn-dropdown-item.hover,
.fn-dropdown-item:hover,
.fn-dropdown-item.hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
}


/*--------------
   Icon Item
---------------*/
fn-dropdown-icon,
.fn-dropdown-icon {
  display: inline-block;
  opacity: 1;
  margin: 0 .25rem 0 0;
  width: 1.23em;
  height: .9em;
  font-family: Icons;
  font-style: normal;
  line-height: 1;
  font-weight: 400;
  text-decoration: inherit;
  text-align: center;
  speak: none;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

fn-dropdown-descr,
.fn-dropdown-descr {
  margin: 0em 0em 0em 1em;
  color: rgba(0, 0, 0, 0.4);
}



