fn-date-select-field {
  display: inline-block;
  line-height: 1.3em;
  padding: 0.5em 10px;
  margin: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-align: left;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.2857rem;
  box-shadow: none;
  cursor: pointer;
}

fn-date-select-field i {
  height: 1em;
  vertical-align: top;
  margin-top: 8px;
  margin-left: 5px;
}

fn-date-select-field i.fa-calendar {
  margin-right: 1px;
}

fn-date-select-field i.fa-chevron-down {
  margin-left: 1px;
}

fn-date-select-widget {
  display: none;
  position: absolute;
  background: #fff;
  box-shadow: 0px 1px 2px rgba(0,0,0,.09);
  border: 1px solid #bbb;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 20;
  margin-top: 12px;
  padding: 0.5em;
}

fn-date-select-widget:before,
fn-date-select-widget:after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  border: 15px solid transparent;
}

fn-date-select-widget:before {
  border-bottom-color: #fff;
  position: absolute;
  top: -29px;
  left: 80px;
  z-index: 2;
}

fn-date-select-widget:after {
  border-bottom-color: #bbb;
  position: absolute;
  top: -30px;
  left: 80px;
  z-index: 1;
}

fn-date-select[data-active] fn-date-select-widget {
  display: block;
}

fn-date-select-inner {
  display: table-row;
}

fn-date-select-inner fn-calendar-group {
  display: table-cell;
}

fn-date-select-controls {
  display: table-cell;
  vertical-align: top;
  padding: 5px;
}

fn-date-select-input-header {
  margin-top: 25px;
  float: left;
  margin-bottom: 5px;
}

fn-date-select-controls fn-dropdown {
  float: left;
  margin-left: 5px;
  margin-top: 20px;
  display: inline-block;
}

fn-date-select-controls fn-dropdown-items {
  max-height: 150px;
}

fn-date-select-container {
  margin: 15px 0 55px;
  display: block;
  overflow: auto;
}

fn-date-select-container input.fn-input {
  opacity: 0.5;
  width: 90px;
  cursor: pointer;
  line-height: 1.3em;
  padding: 0.5em 1em;
  float: left;
}

fn-date-select-container input.fn-input.date-select-active {
  opacity: 1;
}

fn-date-select-container input.fn-input.date-select-highlight {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

fn-date-select-separator {
  display: inline-block;
  float: left;
  margin: 5px;
}

fn-date-select-controls fn-button {
  float: right;
  font-size: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
