/**
 * Adapted from: Semantic UI:
 *   https://github.com/Semantic-Org/Semantic-UI
 *   http://www.semantic-ui.com/
 */
 /*******************************
            Basic
    *******************************/
fn-dropdown,
.fn-dropdown {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  display: inline-block;
  line-height: 1em;
  outline: 0;
  text-align:left;
  transition: border-radius .1s ease,width .2s ease;
  font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 14px;
  color: rgba(0,0,0,.8);
  cursor: pointer;
}

::selection {
  background-color: rgba(255,255,160,.4);
  color: rgba(0,0,0,.8);
}

fn-dropdown-input,
.fn-dropdown-input{
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
}

fn-dropdown-item,
fn-dropdown-header,
.fn-dropdown-item,
.fn-dropdown-header{
  white-space: nowrap;
}

fn-dropdown-item,
.fn-dropdown-item {
  display: none;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}

fn-dropdown-item[data-active],
.fn-dropdown-item[data-active] {
  display: block;
}

fn-dropdown-icon,
.fn-dropdown-icon{
  display: inline-block;
  line-height: 1;
  height: 1em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  width: auto;
  margin: 0 0 0 0.5em;
}

fn-dropdown-header:after,
.fn-dropdown-header:after,
fn-dropdown-item.header:after,
.fn-dropdown-item.header:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f0d7";
  display: inline-block;
  line-height: 1em;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  width: auto;
  margin: 0 0 0 0.5em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

fn-dropdown-menu,
.fn-dropdown-menu{
  display: none;
  list-style: none;
  cursor: auto;
  position: absolute;
  outline: 0;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  background: #fff;
  white-space: nowrap;
  font-size: 1rem;
  text-shadow: none;
  text-align: left;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
  border: 1px solid rgba(39,41,43,.15);
  border-radius: 0 0 .2857rem .2857rem;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  z-index: 11;
  will-change: transform,opacity;
}

fn-dropdown-menu[data-active],
.fn-dropdown-menu[data-active]{
  display: inline-block;
}


fn-dropdown-menu-item,
.fn-dropdown-menu-item {
  position: relative;
  cursor: pointer;
  border: none;
  height: auto;
  border-top: none;
  line-height: 1.2rem;
  color: rgba(0, 0, 0, 0.8);
  padding: 0.65rem 1.25rem !important;
  font-size: 1rem;
  text-transform: none;
  font-weight: normal;
  box-shadow: none;
  -webkit-touch-callout: none;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  overflow: hidden;
}

fn-dropdown-menu-item.active,
.fn-dropdown-menu-item.active{
  background: transparent;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
  box-shadow: none;
  z-index: 12;
}

fn-dropdown-menu-item:hover,
fn-dropdown-menu-item[hover],
.fn-dropdown-menu-item:hover,
.fn-dropdown-menu-item[hover]{
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  z-index: 12;
}

/*******************************
      Dropdown Styles
*******************************/

/*--------------
  Input like
---------------*/
fn-dropdown.input,
.fn-dropdown.input {
  padding: .8em 1.1em;
  cursor: pointer;
  word-wrap: break-word;
  white-space: normal;
  outline: 0;
  -webkit-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
  min-width: 180px;
  background: #fff;
  display: inline-block;
  color: rgba(0,0,0,.8);
  box-shadow: none;
  border: 1px solid rgba(39,41,43,.15);
  border-radius: .2857rem;
  -webkit-transition: border-radius .1s ease,width .2s ease,box-shadow .2s ease,border .2s ease;
  transition: border-radius .1s ease,width .2s ease,box-shadow .2s ease,border .2s ease;
}

fn-dropdown.input fn-dropdown-item,
.fn-dropdown.input .fn-dropdown-item{
  margin-right: 2em;
}

fn-dropdown.input fn-dropdown-icon,
.fn-dropdown.input .fn-dropdown-icon{
  position: absolute;
  top: auto;
  margin: 0em;
  width: auto;
  right: 1.1em;
  opacity: 0.8;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

fn-dropdown.input fn-dropdown-menu,
.fn-dropdown.input .fn-dropdown-menu{
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
  border-top: none !important;
  width: auto;
  margin: 0px -1px;
  min-width: -webkit-calc(100% + 2px);
  min-width: calc(100% + 2px);
  outline: none;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  -webkit-transition: box-shadow 0.2s ease, border 0.2s ease;
  transition: box-shadow 0.2s ease, border 0.2s ease;
}

fn-dropdown.labeled.input fn-dropdown-menu,
.fn-dropdown.labeled.input .fn-dropdown-menu{
  border-top: 1px solid rgba(39,41,43,.15)!important;
}

@media only screen and (max-width: 767px) {
  fn-dropdown.input  fn-dropdown-menu,
  .fn-dropdown.input  .fn-dropdown-menu{
    max-height: 7.7142rem;
  }
}
@media only screen and (min-width: 768px) {
  fn-dropdown.input  fn-dropdown-menu,
  .fn-dropdown.input  .fn-dropdown-menu {
    max-height: 10.2856rem;
  }
}
@media only screen and (min-width: 992px) {
  fn-dropdown.input  fn-dropdown-menu,
  .fn-dropdown.input  .fn-dropdown-menu {
    max-height: 15.4284rem;
  }
}
@media only screen and (min-width: 1920px) {
  fn-dropdown.input  fn-dropdown-menu,
  .fn-dropdown.input  .fn-dropdown-menu {
    max-height: 20.5712rem;
  }
}

fn-dropdown.input fn-dropdown-menu-item,
.fn-dropdown.input .fn-dropdown-menu-item {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding-left: 1.1em !important;

/* Add in spacing for scroll bar */
  padding-right: -webkit-calc(2.1em) !important;
  padding-right: calc(2.1em) !important;
  white-space: normal;
  word-wrap: normal;
}

fn-dropdown.input fn-dropdown-menu-item:hover,
fn-dropdown.input fn-dropdown-menu-item[hover],
.fn-dropdown.input .fn-dropdown-menu .fn-dropdown-menu-item:hover,
.fn-dropdown.input .fn-dropdown-menu .fn-dropdown-menu-item[hover]{
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.05);
}

fn-dropdown.input:hover,
.fn-dropdown.input:hover {
  border-color: rgba(39, 41, 43, 0.3);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.08);
}

fn-dropdown.input:hover fn-dropdown-menu,
.fn-dropdown.input:hover .fn-dropdown-menu {
  border: 1px solid rgba(39, 41, 43, 0.3);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.08);
}

/*--------------
  Sizes
---------------*/
fn-dropdown,
.fn-dropdown {
  font-size: 1rem;
}

fn-dropdown.small,
.fn-dropdown.small{
  font-size: 0.875rem;
}

fn-dropdown.small fn-dropdown-icon {
  margin: 0 0 0 .2em;
}

fn-dropdown.small fn-dropdown-menu-item,
.fn-dropdown.small .fn-dropdown-menu-item {
  font-size: 0.875rem;
  line-height: 0.9rem;
}


 /*--------------
  Small Input like
---------------*/
fn-dropdown.input.small,
.fn-dropdown.input.small {
  min-width: 130px;
  font-size: 0.9rem;
}

/*--------------
  Compact Input like
---------------*/
fn-dropdown.input.compact,
.fn-dropdown.input.compact,
fn-dropdown.input.compact fn-dropdown-menu,
.fn-dropdown.input.compact .fn-dropdown-menu {
  min-width: 0px;
  width: auto;
}

/*--------------
  Inline
---------------*/
fn-dropdown.inline,
.fn-dropdown.inline{
  cursor: pointer;
  display: inline-block;
  color: inherit;
}

fn-dropdown.inline fn-dropdown-icon,
.fn-dropdown.inline .fn-dropdown-icon {
  margin: 0em 0.5em 0em 0.25em;
  vertical-align: top;
}

fn-dropdown.inline fn-dropdown-item,
.fn-dropdown.inline .fn-dropdown-item {
  font-weight: bold;
}

fn-dropdown.inline fn-dropdown-menu,
.fn-dropdown.inline .fn-dropdown-menu{
  cursor: auto;
  margin-top: 0.25em;
  border-radius: 0.2857rem;
}

fn-dropdown.inline.small fn-dropdown-menu,
.fn-dropdown.inline.small .fn-dropdown-menu{
  margin-top: 0.18em;
}


/*--------------
  Labeled
---------------*/
fn-dropdown-menu-item.labeled,
.fn-dropdown-menu-item.labeled{
  margin: 1rem 0rem 0.75rem;
  padding: 0em 1.25rem;
  color: rgba(0, 0, 0, 0.85);
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
}

/*--------------
  Searchable
---------------*/
#dropdown_ui.search {
  display: block;
  width: 100%;
  height: 38px;
  min-width: 0;
  font-size: 1em;
  position:relative;
}

#dropdown_ui.search input {
  background: none transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  border-radius: 0em !important;
  top: 0em;
  left: 0em;
  width: 100%;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  padding: inherit;
  cursor: auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1em;
  color: #545758
}

#dropdown_ui.search i.icon {
  display: none;
}

 #dropdown_ui.search ul#menu {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
}

@media only screen and (max-width: 767px) {
  #dropdown_ui.search ul#menu{
    max-height: 7.7142rem;
  }
}
@media only screen and (min-width: 768px) {
  #dropdown_ui.search ul#menu{
    max-height: 10.2856rem;
  }
}
@media only screen and (min-width: 992px) {
  #dropdown_ui.search ul#menu {
    max-height: 15.4284rem;
  }
}
@media only screen and (min-width: 1920px) {
  #dropdown_ui.search ul#menu {
    max-height: 20.5712rem;
  }
}

/*--------------
  Error
---------------*/
fn-dropdown.error,
fn-dropdown.error fn-dropdown-item {
  color: #a94442;
}

fn-dropdown.input.error,
.fn-dropdown.input.error {
  background: #fff0f0;
  border-color: #dbb1b1;
}

fn-dropdown.error:hover,
.fn-dropdown.error:hover {
  border-color: #dbb1b1;
}

fn-dropdown.error fn-dropdown-menu,
.fn-dropdown.error .fn-dropdown-menu{
  border-color: #dbb1b1;
}

fn-dropdown.error fn-dropdown-menu-item,
.fn-dropdown.error .fn-dropdown-menu-item {
  color: #d95c5c;
}

fn-dropdown.error fn-dropdown-menu-item :hover,
fn-dropdown.error fn-dropdown-menu-item.hover,
.fn-dropdown.error .fn-dropdown-menu-item :hover,
.fn-dropdown.error .fn-dropdown-menu-item.hover {
  background-color: #fff2f2;
}

fn-dropdown.error fn-dropdown-menu-item.active,
.fn-dropdown.error .fn-dropdown-menu-item.active {
  background-color: #fdcfcf;
}

/*--------------
  Disabled
---------------*/
fn-dropdown.disabled,
.fn-dropdown.disabled {
  cursor: auto;
  opacity: 0.5;
}

fn-dropdown.disabled fn-dropdown-menu-item:hover,
fn-dropdown.disabled fn-dropdown-menu-item.hover,
.fn-dropdown.disabled .fn-dropdown-menu-item:hover,
.fn-dropdown.disabled fn-dropdown-menu-item.hover {
  opacity: 0.8;
}

