/**
 * Adapted from: Semantic UI:
 *   https://github.com/Semantic-Org/Semantic-UI
 *   http://www.semantic-ui.com/
 */

/*******************************
             Modal
*******************************/

fn-modal,
.fn-modal {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 50%;
  text-align: left;
  width: 90%;
  margin-left: -45%;
  background: #ffffff;
  border: none;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.3);
  border-radius: 0.2857rem;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  will-change: top, left, margin, transform, opacity;
}

fn-modal-dimmer[data-active] fn-modal,
fn-modal[data-active],
.fn-modal-dimmer[data-active] .fn-modal,
.fn-modal[data-active],
fn-modal-dimmer .fn-modal {
  display: block;
}

fn-modal > :first-child:not(fn-modal-close-icon),
fn-modal > fn-modal-close-icon:first-child + *,
.fn-modal > :first-child:not(.fn-modal-close-icon),
.fn-modal > .fn-modal-close-icon:first-child + *{
  border-top-left-radius: 0.2857rem;
  border-top-right-radius: 0.2857rem;
}

fn-modal > :last-child,
.fn-modal > :last-child {
  border-bottom-left-radius: 0.2857rem;
  border-bottom-right-radius: 0.2857rem;
}

/*--------------
  Dimmer
---------------*/
fn-modal-dimmer,
.fn-modal-dimmer {
  display: none;
  position: absolute;
  top: 0em !important;
  left: 0em !important;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.85);
  opacity: 0;
  line-height: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-transition: background-color 0.5s linear;
          transition: background-color 0.5s linear;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  will-change: opacity;
  z-index: 1000;
}

fn-modal-dimmer[data-active],
.fn-modal-dimmer[data-active] {
  display: block;
  opacity: 1;
}
/*--------------
     Close Icon
---------------*/

fn-modal-close-icon,
.fn-modal-close-icon {
  cursor: pointer;
  position: absolute;
  top: -2.5rem;
  right: -2.5rem;
  opacity: 0.8;
  font-size: 1.25em;
  color: #ffffff;
  width: 2.25rem;
  height: 2.25rem;
  padding: 0.625rem 0rem 0rem 0rem;
}

fn-modal-close-icon:after,
.fn-modal-close-icon:after {
  font-family: FontAwesome;
  content: "\f00d";
}

fn-modal-close-icon:hover,
.fn-modal-close-icon:hover {
  opacity: 1;
}

/*--------------
     Header
---------------*/

fn-modal-header,
.fn-modal-header {
  display: block;
  background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05)) #ffffff;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.05)) #ffffff;
  margin: 0em;
  padding: 1.2rem 2rem;
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.05);
  font-size: 1.6em;
  line-height: 1.3em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.85);
  border-bottom: 1px solid rgba(39, 41, 43, 0.15);
}

/*--------------
     Content
---------------*/

fn-modal-content,
.fn-modal-content {
  display: table;
  table-layout: fixed;
  width: 100%;
  font-size: 1em;
  line-height: 1.4;
  padding: 2rem;
  background: #ffffff;
}

/* Image */
fn-modal-image,
.fn-modal-image {
  display: table-cell;
  width: '';
  vertical-align: top;
}

fn-modal-image.top,
.fn-modal-image.top {
  vertical-align: top;
}

/* Description */
fn-modal-description,
.fn-modal-description {
  display: table-cell;
  vertical-align: top;
}
fn-modal-icon + fn-modal-description,
fn-modal-image + fn-modal-description,
.fn-modal-icon + .fn-modal-description,
.fn-modal-image + .fn-modal-description{
  min-width: '';
  width: 80%;
  padding-left: 2em;
}

/*--------------
    Footer
---------------*/

fn-modal-footer,
.fn-modal-footer {
  display: block;
  background: #efefef;
  padding: 1rem 2rem;
  border-top: 1px solid rgba(39, 41, 43, 0.15);
  text-align: right;
}
fn-modal-footer > .button,
.fn-modal-footer > .button {
  margin-left: 0.75em;
}

/*-------------------
       Responsive
--------------------*/


/* Modal Width */
@media only screen and (max-width: 767px) {
  fn-modal,
  .fn-modal {
    width: 95%;
    margin: 0em 0em 0em -47.5%;
  }
}
@media only screen and (min-width: 768px) {
  fn-modal,
  .fn-modal {
    width: 88%;
    margin: 0em 0em 0em -44%;
  }
}
@media only screen and (min-width: 992px) {
  fn-modal,
  .fn-modal {
    width: 74%;
    margin: 0em 0em 0em -37%;
  }
}
@media only screen and (min-width: 1400px) {
  fn-modal,
  .fn-modal {
    width: 56%;
    margin: 0em 0em 0em -28%;
  }
}
@media only screen and (min-width: 1920px) {
  fn-modal,
  .fn-modal {
    width: 42%;
    margin: 0em 0em 0em -21%;
  }
}

/* Tablet and Mobile */
@media only screen and (max-width: 992px) {
  fn-modal-header,
  .fn-modal-header {
    padding-right: 2.25rem;
  }
  fn-modal-close-icon,
  .fn-modal-close-icon  {
    top: 0.905rem;
    right: 1rem;
    color: rgba(0, 0, 0, 0.8);
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  fn-modal-header,
  .fn-modal-header {
    padding: 0.75rem 1rem !important;
    padding-right: 2.25rem !important;
  }
  fn-modal-content,
  .fn-modal-content {
    display: block;
    padding: 1rem !important;
  }
  fn-modal-close-icon,
  .fn-modal-close-icon {
    top: 0.5rem !important;
    right: 0.5rem !important;
  }
  /*rtl:ignore*/
  fn-modal-image,
  .fn-modal-image {
    display: block;
    max-width: 100%;
    margin: 0em auto !important;
    text-align: center;
    padding: 0rem 0rem 1rem !important;
  }
  .ui.modal > .content > .image > i.icon {
    font-size: 5rem;
    text-align: center;
  }
  /*rtl:ignore*/
  fn-modal-description,
  .fn-modal-description {
    display: block;
    width: 100% !important;
    margin: 0em !important;
    padding: 1rem 0rem !important;
    box-shadow: none;
  }
  fn-modal-footer,
  .fn-modal-footer {
    padding: 1rem 1rem -1rem !important;
  }
}
