/************************
  Editor
************************/
fn-segment-editor {
  display: none;
}

fn-segment-editor[data-loading],
fn-segment-editor[data-resolved] {
  display: block;
}

/*************************
  Modal
*************************/
fn-modal.segment-editor {
  height: 450px;
}

/*************************
  Segment Editor Field
*************************/
fn-segment-editor-field {
  display: inline-block;
  text-align: left;
  line-height: 1.2142em;
  padding: 0.67861em 10px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.2857rem;
  box-shadow: none;
  min-width: 150px;
  overflow: hidden;
  white-space: nowrap;
}

fn-segment-editor-field i.fa-filter {
  display: inline-block;
  float: left;
  margin-right: 2px;
  margin-top: 1px;
  opacity: 0.7;
  font-size: 1em;
  height: 1em;
  vertical-align: bottom;
}

fn-segment-editor-field-values {
  margin-right: 5px;
  font-size: 0.9em;
  display: inline-block;
}

.segment-field-fixed fn-segment-editor-field-values {
  /* 10px padding on each side */
  width: calc(100% - 34px);
  overflow: hidden;
}

fn-segment-circle {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

fn-segment-field-name {
  display: inline-block;
  margin-right: 4px;
}

fn-segment-separator {
  display: inline-block;
  width: 1px;
  height: 1.3em;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.8);
  vertical-align: bottom;
}

fn-segment-editor-field-values fn-segment-circle {
  margin-right: 4px;
  margin-left: 4px;
}

fn-segment-editor-field-values fn-segment-circle:first-child {
  margin-left: 0;
}

fn-segment-editor-field fn-segment-add-icon {
  float: right;
}

/*********************
  Field Loader
*********************/
fn-loader.segment-editor-loader[data-loading] {
  width: 150px;
  height: 2.57142em;
  padding: 1px 1px 0 1px;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

fn-loader.segment-editor-loader {
  min-width: 150px;
  height: 2.57142em;
  border: none;
}

fn-loader.segment-editor-loader /deep/ .spinner {
  height: 2em;
}


/******************
  Segments Loader
******************/
fn-segment-recent fn-loader {
  height: 370px;
}

fn-segment-recent fn-loader /deep/ .loader {
  background: transparent;
}

/*******************
  Segment Views
*******************/
fn-segment-overview,
fn-segment-select,
fn-segment-edit,
fn-segment-recent {
  display: none;
  background: #ffffff;
  border: none;
  border-radius: 0.2857rem;
  overflow: hidden;
}

fn-segment-select {
  overflow: visible;
}

fn-segment-flyout.segment-active,
fn-segment-select.segment-active,
fn-segment-edit.segment-active,
fn-segment-recent.segment-active {
  display: block;
}

fn-segment-flyout {
  position: absolute;
  background: #fff;
  margin-top: 12px;
  width: 300px;
  height: 380px;
  display: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #bbb;
  box-shadow: 0px 1px 2px rgba(0,0,0,.09);
  z-index: 20;
}

fn-segment-flyout:before,
fn-segment-flyout:after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  border: 15px solid transparent;
}

fn-segment-flyout:before {
  border-bottom-color: #F4F4F4;
  position: absolute;
  top: -29px;
  left: 142px;
  z-inde7: 2;
}

fn-segment-flyout:after {
  border-bottom-color: #bbb;
  position: absolute;
  top: -30px;
  left: 142px;
  z-index: 1;
}

fn-segment-flyout fn-segment-footer {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: none;
  height: 41px;
  overflow: hidden;
}


fn-segment-flyout fn-segments {
  font-size: 90%;
  height: calc(100% - 75px);
}

fn-segment-flyout fn-segment {
  padding: 1.2em 2em;
}

fn-segment-flyout fn-segment:hover:not(.static-segment) {
  background: rgba(0, 0, 50, 0.03);
  cursor: pointer;
}

fn-segment-flyout fn-button {
  margin-left: 109px;
}

.segment-clickable:hover {
  cursor: pointer;
}

.segment-hidden {
  display: none;
}

/****************
  Segments
****************/
fn-segments {
  display: block;
  height: 100%;
  overflow: auto;
}

fn-segments:empty {
  height: 4.3em;
}

fn-segment {
  border-bottom: 1px solid rgba(39, 41, 43, 0.15);
}

/*******************
  Content
*******************/
fn-segment-title {
  font-weight: 500;
  display: inline-block;
  margin-right: 1em;
}

fn-segment-circle + fn-segment-title {
  margin-left: 4px;
}

fn-segment-text-value {
  display: inline-block;
  margin: 0 10px 0 0;
}

fn-segment-text-title {
  display: inline-block;
  margin: 0 2px 0 0;
}

.segment-text {
  padding-top: 2.3em;
  line-height: 1.3em;
  font-style: italic;
  text-align: center;
}

.segment-link {
  font-style: normal;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  margin-top: 3em;
  margin-bottom: 2em;
  font-size: 0.9em;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
}

.segment-link:hover {
  color: rgba(0,0,0,0.8);
}

/*****************
  Segment Header
*****************/
fn-segment-header,
fn-segment-footer {
  display: block;
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(39, 41, 43, 0.15);
  margin: 0em;
  font-size: 100%;
  padding: 5px 0;
  font-weight: 500;
  overflow: auto;
  text-align:center;
  background-color: #F4F4F4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e9e9e9));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #e9e9e9);
  background-image: -moz-linear-gradient(top, #f4f4f4, #e9e9e9);
  background-image: -ms-linear-gradient(top, #f4f4f4, #e9e9e9);
  background-image: -o-linear-gradient(top, #f4f4f4, #e9e9e9);
  background-image: linear-gradient(top, #f4f4f4, #e9e9e9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f4f4f4', EndColorStr='#e9e9e9');
}

fn-segment-footer {
  padding: 3px 0;
}

fn-segment-select fn-segment-header,
fn-segment-recent fn-segment-header {
  padding: 8px 0;
}

fn-segment-recent fn-segment-footer {
  height: 30px;
  border-top: none;
}

fn-segment-header fn-segment-error-message {
  float: left;
}

fn-segment-header-title,
.fn-segment-header-title {
  line-height: 1.8em;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
  float:left;
  margin: 3px 2em 0;
}

fn-segment-header fn-button {
  font-size: 90%;
  margin-right: 2em;
  float: right;
}

fn-segment-edit fn-segment-header fn-button:last-child,
fn-segment-select fn-segment-header fn-button:last-child {
  margin-right: 5px;
}

fn-button fn-segment-add-icon {
  margin-left: 4px;
}

fn-segment-header input,
.fn-segment-header input,
fn-segment-header input.fn-input,
.fn-segment-header input.fn-input {
  display: inline-block;
  float: left;
  margin-left: 1em;
  width: 300px;
  font-weight: normal;
  font-size: 90%;
}

fn-segment-header.segment-error fn-segment-error-message {
  margin-top: 0.8em;
  margin-left: 5px;
  padding: 0;
  text-align: left;
  display: inline-block;
}

.segment-error fn-segment-header:not(.segment-error) fn-segment-error-message {
  display: none;
}


/*****************
  Group Menu
*****************/
fn-menu.segment-group-menu {
  display: block;
  width: 150px;
  position: fixed;
  height: calc(100% - 51px);
  border-radius: 0;
  border-right: 1px solid rgba(39, 41, 43, 0.15);
  box-shadow: none;
  border-bottom-left-radius: 0.2857em;
  background-color: #eee;
}

fn-menu.segment-group-menu ~ fn-segment-option {
  margin-left: 150px;
  display: none;
}

fn-menu.segment-group-menu ~ fn-segment-option[data-active] {
  display: block;
}


fn-menu.segment-group-menu fn-menu-item {
  transition: none;
  color: #000;
  font-weight: 400;
  font-size: 0.9em;
}

fn-menu.segment-group-menu fn-menu-item:hover:after,
fn-menu.segment-group-menu fn-menu-item:hover {
  background: transparent;
  color: #06c;
}

fn-menu.segment-group-menu fn-menu-item[data-active]:after,
fn-menu.segment-group-menu fn-menu-item[data-active] {
  color: #06c;
  box-shadow: none;
  background: transparent;
}

fn-menu.segment-group-menu fn-menu-item:after {
  display: block;
  content: "\f105";
  font: normal normal normal 14px/1 FontAwesome;
  float: right;
  color: #bbb;
}

fn-segment-group-options {
  display: none;
  margin-left: 150px;
  height: 400px;
  overflow: auto;
}

fn-segment-group-options fn-segment-option:last-child {
  margin-bottom: 200px;
}

fn-segment-group-options[data-active] {
  display: block;
}

/******************
  Segment Option
******************/
fn-segment-options {
  display: block;
  overflow: visible;
  min-height: 300px;
}

fn-segment-options-title {
  display: block;
  padding: 0.8em 2em;
}

fn-segment-options-title h1,
fn-segment-options-title h2,
fn-segment-options-title h3,
fn-segment-options-title h4 {
  margin: 0;
}

fn-segment-options-title .subtitle {
  opacity: 0.7;
  font-size: 0.95em;
}

fn-segment,
fn-segment-option {
  display: block;
  padding: 1.2em 2em;
  line-height: 1.3em;
  background-color: #fff;
}

fn-segment-option {
  height: 5.4em;
}

fn-segment-option fn-segment-title,
.segment-option-cell > fn-checkbox,
fn-segment-option fn-dropdown,
.segment-option-cell > i[data-help] {
  display: block;
  float: left;
}

.segment-option-cell {
  display:inline-block;
  height: 40px;
  vertical-align: top;
}

.segment-option-cell.first {
  width: 175px;
}

fn-segment-option i[data-help] {
  margin-left: -0.7em;
  margin-top: .8em;
  margin-right: 1em;
  opacity: .7;
}

fn-segment-option fn-segment-title {
  margin-top: 9px;
  font-size: 0.9em;
}

.segment-option-cell > fn-checkbox {
  margin-top: 8px;
}

fn-segment-option fn-checkbox ~ fn-dropdown fn-dropdown-header,
fn-segment-option fn-checkbox ~ fn-input input,
fn-segment-option fn-checkbox ~ fn-segment-title {
  opacity: 0.6;
}

fn-segment-option fn-checkbox[data-active] ~ fn-dropdown fn-dropdown-header,
fn-segment-option fn-checkbox[data-active] ~ fn-input input,
fn-segment-option fn-checkbox[data-active] ~ fn-segment-title {
  opacity: 1;
}

fn-checkbox + fn-segment-title {
  margin-left: 5px;
}

fn-segment-option fn-input input {
  line-height: 1.3em;
  padding: 0.58em 1em;
  outline: 0;
  box-sizing: border-box;
  float: left;
  margin-left: 5px;
}

/********************
  Icons
********************/

fn-segment-add-icon,
fn-segment-edit-icon,
fn-segment-remove-icon,
fn-segment-open-icon {
  cursor: pointer;
  font-size: 1em;
  height: 1em;
  vertical-align: bottom;
  opacity: 0.7;
}

fn-segment-add-icon,
fn-segment-open-icon,
fn-segment fn-segment-remove-icon,
fn-segment fn-segment-edit-icon,
fn-segment-flyout fn-segment-remove-icon {
  float: right;
}


fn-segment-add-icon:hover,
fn-segment-edit-icon:hover,
fn-segment-remove-icon:hover {
  opacity: 1;
}

fn-segment-remove-icon + fn-segment-edit-icon {
  margin-right: 10px;
}

fn-segment-add-icon + fn-segment-remove-icon {
  margin-right: 40px;
}

fn-segment-remove-icon + fn-segment-add-icon {
  margin-right: 10px;
}

fn-segment-add-icon:after {
  font-family: FontAwesome;
  content: "\f067"
}

fn-segment-remove-icon:after {
  font-family: FontAwesome;
  content: "\f014";
}

fn-segment-open-icon:after {
  font-family: FontAwesome;
  content: "\f078";
}

fn-segment-edit-icon:after {
  font-family: FontAwesome;
  content: "\f044";
}

/*fn-segment fn-segment-remove-icon {
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 13px;
}*/


/*****************
  Tooltips
*****************/
fn-segment-editor fn-tooltip {
  white-space: nowrap;
}

/******************
  Footer
******************/
fn-segment-footer {
  width: 100%;
  display:block;
  border-top: 1px solid rgba(39, 41, 43, 0.15);
  overflow: auto;
}

fn-segment-footer fn-button {
  float: right;
  font-size: 0.9em;
}

/*******************
  Error Message
*******************/

fn-segment-error-message {
  display: none;
  color: #d95c5c;
  font-size: 0.9em;
  font-style: italic;
}

.segment-error fn-segment-error-message {
  display: block;
  padding: 1em 2em 0em;
}
