@-moz-keyframes spinner {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

fn-spinner {
  -moz-animation: spinner 1000ms infinite linear;
  -webkit-animation: spinner 1000ms infinite linear;
  animation: spinner 1000ms infinite linear;
  border: 6px solid rgba(0, 102, 204, 0.8);
  background: #f6f8fa;
  border-right-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  display: none;
  position: absolute;
  overflow: hidden;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
}

fn-spinner[data-loading] {
  display: inline-block;
}
