/*************************
  Segment Editor Field
*************************/

fn-segment-editor-field {
  display: inline-block;
  text-align: left;
  line-height: 1.2142em;
  padding: 0.67861em 1em;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.2857rem;
  box-shadow: none;
  min-width: 150px;
}

fn-segment-editor-field-values {
  margin-right: 8px;
  font-size: 0.9em;
}

fn-segment-circle {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

fn-segment-field-name {
  display: inline-block;
  margin-right: 4px;
}

fn-segment-separator {
  display: inline-block;
  width: 1px;
  height: 1.3em;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.8);
  vertical-align: bottom;
}

fn-segment-editor-field-values fn-segment-circle {
  margin-right: 4px;
  margin-left: 4px;
}

fn-segment-editor-field-values fn-segment-circle:first-child {
  margin-left: 0;
}

fn-segment-editor-field fn-segment-add-icon {
  float: right;
}

/*********************
  Field Loader
*********************/
fn-loader.segment-editor-loader[data-loading] {
  width: 150px;
  height: 2.57142em;
  padding: 1px 1px 0 1px;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

fn-loader.segment-editor-loader {
  min-width: 150px;
  height: 2.57142em;
  border: none;
}

fn-loader.segment-editor-loader /deep/ .spinner {
  height: 2em;
}

/*******************
  Segment Views
*******************/
fn-segment-overview,
fn-segment-select,
fn-segment-edit {
  display: none;
  background: #ffffff;
  border: none;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.3);
  border-radius: 0.2857rem;
}

fn-segment-overview.segment-active,
fn-segment-select.segment-active,
fn-segment-edit.segment-active {
  display: block;
}

.segment-clickable:hover {
  cursor: pointer;
}

/****************
  Segments
****************/
fn-segments {
  display: block;
}

fn-segments:empty {
  height: 4.3em;
}

fn-segment {
  border-top: 1px solid rgba(39, 41, 43, 0.15);
}

fn-segment:first-child {
  border-top: none;
}

/*******************
  Content
*******************/
fn-segment-title {
  font-weight: 500;
  display: inline-block;
  margin-right: 1em;
}

fn-segment-text-value {
  display: inline-block;
  margin: 0 10px 0 0;
}

fn-segment-text-title {
  display: inline-block;
  margin: 0 2px 0 0;
}

/*****************
  Segment Header
*****************/
fn-segment-header,
.fn-segment-header {
  display: block;
  background-color: rgba(0, 0, 0, 0.02);
  margin: 0em;
  padding: 1em 2em;
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(39, 41, 43, 0.15);
  overflow: auto;
}

fn-segment-header-title,
.fn-segment-header-title {
  font-size: 1.3em;
  line-height: 1.8em;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
  float:left;
}

fn-segment-header input,
.fn-segment-header input,
fn-segment-header input.fn-input,
.fn-segment-header input.fn-input {
  display: inline-block;
  float: left;
  margin-left: 1em;
  width: 70%;
  font-weight: normal;
}

fn-segment-header.segment-error fn-segment-error-message {
  margin-top: 0.8em;
  margin-left: 5px;
  padding: 0;
  text-align: left;
  display: inline-block;
}

.segment-error fn-segment-header:not(.segment-error) fn-segment-error-message {
  display: none;
}

/*****************
  Group Menu
*****************/
fn-menu.segment-group-menu {
  display: block;
  width: 150px;
  position: fixed;
  height: calc(100% - 119px);
  border-radius: 0;
  border-right: 1px solid rgba(39, 41, 43, 0.15);
  box-shadow: none;
}

fn-menu.segment-group-menu ~ fn-segment-option {
  margin-left: 150px;
  display: none;
}

fn-menu.segment-group-menu ~ fn-segment-option[data-active] {
  display: block;
}

/******************
  Segment Option
******************/
fn-segment-options {
  display: block;
  overflow: visible;
  min-height: 100px;
}

fn-segment,
fn-segment-option {
  display: block;
  padding: 1.5em 2em;
  line-height: 1.3em;
  background-color: #fff;
}

fn-segment-option {
  height: 5.4em;
}

fn-segment-option fn-segment-title,
fn-segment-option > fn-checkbox,
fn-segment-option fn-dropdown {
  display: block;
  float: left;
}

fn-segment-option fn-segment-title {
  margin-top: .65em;
}

fn-segment-option > fn-checkbox {
  margin-top: .8em;
}

fn-segment-option fn-checkbox ~ fn-dropdown fn-dropdown-header,
fn-segment-option fn-checkbox ~ fn-input input {
  opacity: 0.6;
}

fn-segment-option fn-checkbox[data-active] ~ fn-dropdown fn-dropdown-header,
fn-segment-option fn-checkbox[data-active] ~ fn-input input {
  opacity: 1;
}

fn-checkbox + fn-segment-title {
  margin-left: 5px;
}

fn-segment-option fn-input input {
  line-height: 1.3em;
  padding: 0.58em 1em;
  outline: 0;
  box-sizing: border-box;
  float: left;
  margin-left: 5px;
}

/********************
  Icons
********************/

fn-segment-add-icon,
fn-segment-edit-icon,
fn-segment-remove-icon {
  cursor: pointer;
  font-size: 1em;
  height: 1em;
  vertical-align: bottom;
  opacity: 0.7;
}

fn-segment-add-icon,
fn-segment fn-segment-edit-icon,
fn-segment fn-segment-remove-icon {
  float: right;
}

fn-segment-add-icon:hover,
fn-segment-edit-icon:hover,
fn-segment-remove-icon:hover {
  opacity: 1;
}

fn-segment-remove-icon + fn-segment-edit-icon {
  margin-right: 10px;
}

fn-segment-add-icon:after {
  font-family: FontAwesome;
  content: "\f067"
}

fn-segment-remove-icon:after {
  font-family: FontAwesome;
  content: "\f00d";
}

fn-segment-edit-icon:after {
  font-family: FontAwesome;
  content: "\f044";
}

/******************
  Footer
******************/
fn-segment-footer {
  display:block;
  padding: 0.7em 2em;
  border-top: 1px solid rgba(39, 41, 43, 0.15);
  overflow: auto;
}

fn-segment-footer fn-button {
  float: right;
  font-size: 0.9em;
}

/*******************
  Error Message
*******************/

fn-segment-error-message {
  display: none;
  color: #d95c5c;
  font-size: 0.9em;
  font-style: italic;
}

.segment-error fn-segment-error-message {
  display: block;
  padding: 1em 2em 0em;
}
