fn-share-modal h4 {
  margin: 0;
}

fn-share-modal fn-share-option {
  display: block;
  width: 100%;
  padding: 15px 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

fn-share-modal fn-share-option:hover {
  cursor: pointer;
  background: #fafafa;
}

fn-share-modal fn-share-option.first {
  margin-top: 20px;
}

fn-share-modal fn-share-option.last {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

fn-share-modal fn-share-option[data-selected] fn-share-option-inner:after {
  font-family: FontAwesome;
  content: "\f00c";
}

fn-share-modal fn-share-controls {
  display: block;
  margin-top: 20px;
}

fn-share-modal fn-share-controls fn-input {
  float: left;
  width: 60%;
  margin-right: 10px;
}

fn-share-modal fn-share-invite-options {
  display: none;
  margin-top: 10px;
}

fn-share-modal fn-share-invite-options[data-active] {
  display: block;
}

fn-share-modal fn-share-invite-options .fn-textarea {
  width: 100%;
  margin: 5px 0 10px;
  display: none;
}

fn-share-modal fn-share-invite-options [data-action='hide-textarea'] {
  display: none;
}

fn-share-modal fn-share-invite-options[data-message='active'] .fn-textarea,
fn-share-modal fn-share-invite-options[data-message='active'] [data-action='hide-textarea'] {
  display: inline-block;
}

fn-share-modal fn-share-invite-options[data-message='active'] [data-action='show-textarea'] {
  display: none;
}
