/**
 * Adapted from: Semantic UI:
 *   https://github.com/Semantic-Org/Semantic-UI
 *   http://www.semantic-ui.com/
 */

.fn-textarea {
  vertical-align: top;
  margin: 0em;
  -webkit-appearance: none;
  tap-highlight-color: rgba(255, 255, 255, 0);
  padding: 0.78571em 1em;
  background: #ffffff;
  border: 1px solid rgba(39, 41, 43, 0.15);
  outline: none;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.2857rem;
  box-shadow: 0em 0em 0em 0em transparent inset;
  -webkit-transition: background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
          transition: background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
  font-size: 1em;
  line-height: 1.2857;
  resize: vertical;
}

.fn-textarea:focus {
  color: rgba(0, 0, 0, 0.85);
  border-color: rgba(39, 41, 43, 0.3);
  border-radius: 0em 0.2857rem 0.2857rem 0em;
  background: #ffffff;
  box-shadow: 1px 0em 0em 0em rgba(39, 41, 43, 0.3) inset;
  -webkit-appearance: none;
}

.fn-textarea.error {
  background: #fff0f0;
  border-color: #dbb1b1;
  color: #d95c5c;
  border-radius: 0em 0.2857rem 0.2857rem 0em;
  box-shadow: 2px 0em 0em 0em #d95c5c inset
}

.fn-textarea.error:focus {
  background: #fff0f0;
  border-color: #dbb1b1;
  color: #dc6868;
  -webkit-appearance: none;
  box-shadow: 2px 0em 0em 0em #dc6868 inset;
}
