body, html{ height:100%; padding:0px;}
body{ background:#fff; color:#333; margin:0; padding:0 20px; overflow-y:scroll; font: 12px/20px "Helvetica Neue", Helvetica, Arial, sans-serif; }

#head{ height:70px; border-bottom:1px solid #e0e0e0; position:fixed; width:100%; background:#fff; }
#tabs{ width:200px; border-right:1px solid #e0e0e0; position:fixed; height:100%; margin-top:70px; }
#tabs ul{ list-style-type:none; padding:0; margin:0; }
#tabs ul li{ height:34px; line-height:35px; border-bottom:1px dotted #ececec; cursor:pointer; color:#666; font-size:13px; }
#tabs ul li:after{ content:'›'; display:block; float:right; margin-right:15px; color:#ccc; font-size:16px; line-height:35px; }
#tabs ul li .picto{ margin-top:10px; margin-right:7px; }
#tabs ul li:hover, #tabs ul li:hover:after{ color:#000; }
#tabs ul li:hover .picto{ opacity:1; }

.picto{ display:block; height:14px; width:14px; float:left; background:url('/img/picto_sprite.gif') no-repeat 14px 14px #ccc; opacity:0.7; }
.picto.edit{ background-position:0px 0px; }
.picto.piechart{ background-position:0px -280px; }

#viewport{ min-height:800px; float:left; margin-left:220px; margin-top:90px; }