body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  background-color: #fff;
  color: #333;
  /*text-shadow:0 0 1px #000;*/
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1, h2, h3 { line-height: 40px; }
h1 { font-size: 38.5px; }
h2 { font-size: 26.5px; }
h3 { font-size: 20px; }
h4 { font-size: 100%; font-weight: 500; }
h5 { font-size: 14px; }
h6 { font-size: 11.9px; }

hr {
  border:none;
  border-top: 1px solid #222;
}

ul {
  padding: 0 0 0 40px;
  margin: 0;
}

ul li > ul {
  margin: 0.2em 0 1em 0;
}

ul li p {
  padding: 0;
  margin: 0;
}

#wrap {
  max-width:960px;
  height: auto;
  margin:auto;
}

.jumbotron {
  text-align: center;
  color: #fff;
  margin: 80px 0;
}

.jumbotron h1 {
  font-size: 42px;
  line-height: 1.4;
  font-weight: 500;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.jumbotron p {
  width: 685px;
  margin: auto;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
}

.leadtext {
  width: 450px;
  float: left;
}

.leadtext p {
  color: #aaa;
  font-size: 115%;
  line-height: 155%;
  font-weight: 600;
}

.leadtext a.button {
  line-height: 48px;
  height: 48px;
  display: block;
  border: 1px solid #444;
  color: #ccc;
  border-radius: 5px;
  padding: 0 10px;
  text-align: center;
  font-size: 115%;
  margin-top: 30px;
  width: 360px;
  cursor: pointer;
}

.leadtext a.button:hover {
  border: 1px solid #666;
  background: #25292b;
}

.leadtext a.button.first {
  margin-top: 50px;
}


@media (max-width: 1260px) {
  #wrap {
    margin:0 30px;
  }

  .jumbotron {
    text-align: center;
  }

  .leadtext {
    display: none;
  }
}

.biglink {
  text-align:center;
  margin-bottom: 50px;
  font-size: 17.5px;
  font-weight: 300;
  line-height: 30px;
  text-rendering: optimizelegibility;
}

.biglink a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #666;
}


.colorbg {
  height: 620px;
  overflow: visible;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2e3336), to(#0d0d0d));
  background-image: -webkit-linear-gradient(top, #2e3336, #0d0d0d);
  background-image: -moz-linear-gradient(top, #2e3336, #0d0d0d);
  background-image: -ms-linear-gradient(top, #2e3336, #0d0d0d);
  background-image: -o-linear-gradient(top, #2e3336, #0d0d0d);
  background-image: linear-gradient(top, #2e3336, #0d0d0d);
  background: #2980b9;
}

.colorbg.intro {
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

#footer {
  margin-top:120px;
  padding:15px 0;
  margin-bottom:20px;
  color:#777;
  text-align: center;
}

#footer a {
  color:#777;
}

#header h1 {
  font-size:23.5px;
  margin-bottom:25px;
}

#header h1 a {
  color:#333;
  text-decoration:none;
}

.colorbg #header h1 a {
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

#header a.menu {
  float:right;
  color:#333;
  text-decoration:none;
  line-height:26px;
  margin-top:9px;
  margin-left:25px;
}

.colorbg #header a.menu {
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

#header a.menu:hover {
  border-bottom: 1px solid #666;
}

.headbar {
  height:36px;
  background-color: #F4F4F4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e9e9e9));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #e9e9e9);
  background-image: -moz-linear-gradient(top, #f4f4f4, #e9e9e9);
  background-image: -ms-linear-gradient(top, #f4f4f4, #e9e9e9);
  background-image: -o-linear-gradient(top, #f4f4f4, #e9e9e9);
  background-image: linear-gradient(top, #f4f4f4, #e9e9e9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f4f4f4', EndColorStr='#e9e9e9');
  padding: 0 25px;
  border-bottom: 1px solid #C9C9C9;
  border-top: 1px solid #d0d0d0;
  line-height:29px;
  color: #333;
  font-size:14px;
  line-height:35px;
  font-weight:bold;
  margin:0;
  text-shadow: 1px 0px 2px rgba(255, 255, 255, 1);
  -moz-text-shadow: 1px 0px 2px rgba(255,255,255,1);
  -webkit-text-shadow: 1px 0px 2px rgba(255,255,255,1);
  overflow:hidden;
}

#navigation {
  padding: 20px 0;
  width:210px;
  border-radius:5px;
  box-shadow:0 0 2px rgba(0,0,0,.1);
  border:1px solid #ddd;
  float: right;
}

#navigation ul {
  list-style-type:none;
  margin: 0;
  padding: 0 0 0 20px;
}

#navigation ul li {
  font-size: 14px;
  line-height:30px;
}

#navigation ul li a {
  text-decoration: none;
  color: #333;
}

#navigation ul li.active a {
  font-weight: bold;
}

#navigation ul li a:hover {
  text-decoration: underline;
}

#navigation a.nav_title {
  display:block;
  text-transform: uppercase;
  font-family: Arial,sans-serif;
  font-weight: bold;
  font-size: 11px;
  margin: 20px 0 8px 0;
  padding: 15px 0 0 22px;
  border-top: 1px white solid;
  box-shadow: 0 -1px 0 #d7dbe6;
  color:#666;
}

#documentation {
  color: #444;
  font-size: 16px;
  line-height:26px;
  font-weight: 400;
  padding-bottom:70px;
  min-height:1600px;
  margin-right: 240px;
}

#documentation_wrap {
  min-height:600px;
  border-top:none;
  overflow:hidden;
}

#documentation h1 {
  margin-top: 2em;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 26.5px;
}

#documentation h2 {
  margin-top: 1.5em;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 20px;
}

#documentation h3 {
  margin-top: 1em;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 100%;
  font-weight: 500;
}

#documentation h4 {
  margin-top: 2em;
  color: #666;
}

#documentation h1 + h2,
#documentation h2 + h3 {
  margin-top: 1em;
}

#documentation p {
  margin-top: 4px;
}

#documentation a {
  color: #2980b9;
  text-decoration: none;
}

#documentation a:hover {
  text-decoration: underline;
}

code {
  padding: 2px 5px;
  font-family: "Monaco", monospace;
  background-color: #f8f8f8;
  border: 1px solid #cacaca;
  border-radius: 3px;
  text-shadow: 0 1px 0 #fff;
  overflow: auto;
  font-size:12px;
}

pre code {
  padding: 10px 15px;
  display: block;
}

pre {
  margin-bottom: 25px;
}

hr.space {
  border: none;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}

table td, table th {
  padding: 6px 13px;
  border: 1px solid #ccc;
}

table th {
  font-weight: 600;
  color: #333;
  vertical-align:top;
  width: 125px;
}

table th i {
  font-weight: 400;
  font-size: 12px;
}

table tr:nth-child(2) { background-color: #f8f8f8; }
table tr:nth-child(4) { background-color: #f8f8f8; }
table tr:nth-child(6) { background-color: #f8f8f8; }
table tr:nth-child(8) { background-color: #f8f8f8; }
table tr:nth-child(10) { background-color: #f8f8f8; }
table tr:nth-child(12) { background-color: #f8f8f8; }
table tr:nth-child(16) { background-color: #f8f8f8; }
table tr:nth-child(18) { background-color: #f8f8f8; }
table tr:nth-child(20) { background-color: #f8f8f8; }
table tr:nth-child(22) { background-color: #f8f8f8; }
table tr:nth-child(24) { background-color: #f8f8f8; }

table td p {
  margin-bottom: 0;
  padding-bottom: 0;
}

.shadow {
  box-shadow:0 0 8px rgba(0,0,0,.4);
}

pre.dark {
  margin:0;
  padding:0;
}

pre.dark code {
  background: #222;
  border: 1px solid #444;
  min-height: 240px;
  text-shadow: none;
  font: 16px / 26px monospace;
}

.code_snippets {
  width:400px; float:left;
}

.code_snippets .title {
  text-align: left;
  font-size: 16px;
}

.code_snippets a.link {
  color: #fff;
  text-decoration: none;
  float: right;
  position:relative;
  top:-18px;
}

.code_snippets a.link:hover {
  text-decoration: underline;
}

#documentation pre + h3 {
  margin-top:55px;
}

.colorstripe {
  height: 5px;
  background-image: -webkit-linear-gradient(
      left,
      #4c75a5,
      #4c75a5 33%,
      #9e4f49 33%,
      #9e4f49 66%,
      #909f50 66%);
  background-size: 60px 5px;
  border-top: 1px solid rgba(255,255,255,0.3);
  border-bottom: 1px solid rgba(255,255,255,0.3);
  box-shadow: 0 0 2px rgba(0,0,0,1.0);
}

.example_frame {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 15px 0;
  padding: 10px 0;
  height: 500px;
}

#documentation p.breadcrumb {
  margin-bottom: 40px;
  font-size: 90%;
  margin-top: -5px;
}

.optbar {
  margin-top: 10px;
}

.optbar a {
  margin-left: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

#documentation .optbar a:hover {
  text-decoration: none;
  background:#2980b9;
  border: 1px solid #fff;
  color: #fff;
}

#documentation .optbar a.active {
  background:#333;
  border: 1px solid #fff;
  color: #fff;
}

.optbar, .optbar h4 {
  line-height: 36px;
  display: inline-block;
}

.header_wrap {
  padding-top: 15px;
  border-bottom: 1px solid #eee;
  margin-bottom: 34px;
}

#header {
  width: 960px;
  margin: auto;
}

section {
  margin-top: 80px;
  padding-top: 60px;
  text-align: center;
}

section:after {
  content: ' ';
  display: block;
  height: 1px;
  background: #ddd;
  position: absolute;
  margin-top: 80px;
  left: 0;
  right: 0;
}

section h1 {
  text-align: left;
  font-size: 220%;
  font-weight: 300;
  text-align: center;
}

section p {
  font-size: 120%;
  line-height: 160%;
  width: 700px;
  margin: auto;
  color: #444;
  font-weight: 300;
}

ul.fancylist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  border-bottom: 2px solid #ddd;
  text-align: left;
}

ul.fancylist li {
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 0 20px;
}

ul.fancylist li h3 {
  font-size: 120%;
  line-height: 140%;
  padding: 0;
  margin: 15px 0 0 0;
}

ul.fancylist li p {
  font-size: 90%;
  padding: 0;
  margin: 0 0 15px 0;
}

.using_fm {
  margin-top: 60px;
}

.using_fm .preview {
  height: 400px;
  background: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #ddd;
  border-bottom: 2px solid #ddd;
  margin-left: 330px
}

.using_fm .fancylist {
  background: #fff;
  width: 300px;
  position: absolute;
}
