.fnordmetric-metric-series-list table.f-table {
  table-layout: fixed
}

/**.fnordmetric-metric-series-list table.f-table thead th[data-key='sparkline'] {
  width: 240px;
}
**/
.fnordmetric-metric-series-list table.f-table thead th.context_menu_icon {
  width: 42px;
}

.fnordmetric-metric-series-list table.f-table tbody td {
  line-height: 21px;
  padding: 5px 10px;
}

.fnordmetric-metric-series-list table.f-table tbody tr td:first-child {
  color: #3d8ad3;
}

.fnordmetric-metric-series-list table.f-table tbody tr td:first-child i.fa-eye {
  color: #bbb;
}

.fnordmetric-metric-series-list table.f-table tbody td.align_center {
  text-align: center;
}

.fnordmetric-metric-series-list table.f-table tbody td.sparkline {
  width: 420px;
}

.fnordmetric-metric-series-list table.f-table tbody td.values .value_stats {
  font-size: 11px;
  line-height: 16px;
}

.fnordmetric-metric-series-list table.f-table tbody td.context_menu_icon {
  padding-top: 0px;
}

.fnordmetric-metric-series-list table.f-table tbody td.context_menu_icon i {
  font-size: 18px;
  font-weight: 600;
}

.fnordmetric-metric-series-list table.f-table tbody td .total {
  color: #333;
  font-size: 16px;
}

/** context_menu **/
.context_menu {
  display: none;
  background: #f9f9f9;
  padding: 0;
  margin: 10px 0 0 0;
  position: fixed;
  z-index: 900;
  border: 1px solid #ccc;
  color: rgba(0,0,0,0.8);
  border-radius: 3px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
  font-size: 12px;
  line-height: 1.1em;
}

.context_menu.active {
  display: block;
}

.context_menu::before {
  position: absolute;
  content: '';
  width: 0.75em;
  height: 0.75em;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 2;
  margin-left: -0.325em;
  top: -0.325em;
  left: 50%;
  right: auto;
  bottom: auto;
  box-shadow: -1px -1px 0px 0px #b3b3b3;
  background: #f9f9f9;
}

.context_menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.context_menu ul li {
  line-height: 32px;
  padding: 0 10px;
}

.context_menu ul li:hover {
  cursor: pointer;
  color: #3d8ad3;
}

/** sparkline **/
svg.sparkline {
  display: inline-block;
}

svg.sparkline.sparkline-axes {
  padding-top: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}

svg.sparkline {
  vertical-align: bottom;
}

svg.sparkline path {
  stroke: #aad4e9;
  fill: none;
  stroke-width: 1px;
}

svg.sparkline path:first-child {
  stroke: #19A2E5;
}

svg.sparkline circle {
  stroke: #a94442;
  fill: #a94442;
  stroke-width: 1px;
}

svg.sparkline line.stroke {
  stroke: #eee;
  stroke-width: 1px;
}


/** controls **/
.fnordmetric-metric-series-list .controls {
  height: 34px;
  padding: 0;
  line-height: 33px;
  font-size: 12px;
  cursor: default;
  background: #f9f9f9;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.fnordmetric-metric-series-list .controls .control {
  float: right;
  margin: 0 15px 0 10px;
  opacity: 0.7;
}

.fnordmetric-metric-series-list .controls .control:first-child {
  margin-right: 5px;
}


.fnordmetric-metric-series-list .controls .control.left {
  float: left;
}

.fnordmetric-metric-series-list .controls .control label {
  float: left;
  font-size: 12px;
  font-weight: 400;
  vertical-align: top;
  margin-right: 5px;
}

/** toolbar **/
.fnordmetric-metric-series-list .toolbar {
  height: 53px;
  padding-right: 6px;
}

.fnordmetric-metric-series-list .toolbar .search {
  float: left;
  margin-top: 15px;
}

.fnordmetric-metric-series-list .toolbar .info {
  float: right;
  line-height: 20px;
  border-right: 1px solid #bbb;
  padding: 0 14px;
  margin-top: 21px;
  font-size: 12px;
  font-weight: 500;
}

.fnordmetric-metric-series-list .toolbar .info.legend {
  font-weight: 400;
}

.fnordmetric-metric-series-list .toolbar .legend .circle {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  vertical-align: top;
  margin: 5px 5px 0 0;
}

.fnordmetric-metric-series-list .toolbar .legend .circle.blue {
  background: #19A2E5;
}

.fnordmetric-metric-series-list .toolbar .legend .circle.light_blue {
  background: #aad4e9;
}

/** pager **/
.fnordmetric-metric-series-list z-pager {
  float: right;
  margin: 13px 20px;
  font-size: 13px;
}

/** erorr message **/
.fnordmetric-metric-series-list .error_pane {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
