.fnordmetric-metric-series-list table.f-table {
  table-layout: fixed
}

.fnordmetric-metric-series-list table.f-table thead th[data-key='sparkline'] {
  width: 130px;
}

/** controls **/
.fnordmetric-metric-series-list .controls {
  background: rgba(0,0,0,0.04);
  width: 100%;
  overflow: visible;
  height: 37px;
}

.fnordmetric-metric-series-list .controls .control {
  float: right;
  height: 38px;
  line-height: 40px;
  margin: 0 15px 0 10px;
  font-size: 13px;
}

.fnordmetric-metric-series-list .controls .control.left {
  float: left;
}

.fnordmetric-metric-series-list .controls .control label {
  float: left;
  font-size: 12px;
  font-weight: 400;
  vertical-align: top;
  margin-right: 5px;
}

/** pager **/
.fnordmetric-metric-series-list z-pager {
  float: right;
  margin: 13px 20px;
  font-size: 13px;
}

/** erorr message **/
.fnordmetric-metric-series-list .error_pane {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
