.rickshaw_graph .y_ticks path { stroke:#fff; }
.rickshaw_graph .y_grid .tick { stroke:rgba(0,0,0,.1); }

.rickshaw_graph .x_tick {
  border-left: none;
}

.rickshaw_graph .x_tick.glow .title, .rickshaw_graph .y_ticks.glow text{
  font-size:14px;
}

.rickshaw_legend {
font-family: "Gotham Narrow", Helvetica, sans-serif;
font-size: 12px;
color: #333;
background: none;
display: inline-block;
padding: 12px 5px;
border-radius: 2px;
position: relative;
}

.rickshaw_legend .ui-sortable {
  margin-left:-10px;
}

.rickshaw_legend li.line{
   float:left;
   clear:none;
   padding-right:0;
}

.rickshaw_legend a.action{
  margin-right:5px;
  display:none;
}


.rickshaw_legend li.line .label{
  font.size:14px;
  margin-left:5px;
  color:#333;
  position:relative;
  top:-1px;
}


.rickshaw_graph .y_grid .tick { stroke:rgba(0,0,0,.15); stroke-dasharray:0; }
.rickshaw_graph .y_ticks text { fill:#333333; }

