body, html{ height:100%; padding:0px;}
body{ background:url('img/head.png') 0 -21px repeat-x fixed #2E3133; color:#333; margin:0; padding:0; overflow-y:scroll; font: 12px/20px "Helvetica Neue", Helvetica, Arial, sans-serif; padding-bottom:30px; overflow-x:hidden; }

body.inner{ background:#fff; }
h1{
  font-size:24px;
  color:#333;
  margin:0 0 6px 17px;
  font-weight:bold;
}

h3{
  font-size:12px;
  color:#444;
  margin:0 0 0 18px;
  font-weight:500;
}

a.link{
  color:#2281CF;
  text-decoration:none;
}

a.link:hover{
  text-decoration:underline;
}

.shown{ display: block; }
.hidden{ display: none; }

.topbar{ height:38px; background:#24272c; position:fixed; top:0px; width:100%; z-index: 1000;}
.topbar ul { list-style-type:none; margin:0; }
.topbar ul li { padding: 5px 10px 5px 10px; background-color:#3b3e45; display:inline; height:38px; line-height:38px; border-radius:3px; margin-right:5px;}
.topbar ul li a { color:#ccc; font-size:13px; text-decoration:none; }
.topbar ul li a:hover { color:#fff; }
.topbar ul li.active a { color:#fff; }

#sidebar{ width:220px; position:fixed; margin-top:48px; }

#sidebar ul{
  margin:0;
  padding:0;
}

#sidebar ul li{
  height:50px;
  background:url('img/list.png');
  cursor:pointer;
  list-style-type:none;
  overflow:hidden;
  white-space:nowrap;
}

#sidebar ul li.active, 
#sidebar ul li.active:hover{
  background:url('img/list_active.png');
}

#sidebar ul li:hover{
  background:url('img/list_hover.png');
}

#sidebar ul li .title{
  color:#fff;
  font-weight:500;
  font-size:13px;
  line-height:20px;
  padding-top:6px;
  display:block;
}


#sidebar ul li .picto{
  float:left;
  height:50px;
  width:38px;
  margin:0 17px 0 12px;
  background:url('img/picto_gauge.png') no-repeat center 12px;
}

#sidebar ul li .meta{
  color:#fff;
  font-weight:500;
  font-size:11px;
  line-height:16px;
  padding-left:3px;
  display:block;
  color:#999;
}

#sidebar ul li .meta strong{
  font-weight:500;
  color:#ccc;
}

.navbar{
  height:49px;
  background:url('img/navbar.png');
}

.navbar h1{
  text-align:center;
  color:#525252;
  font-weight:500;
  line-height:49px;
  font-size:16px;
}

.navbar h1 a.current{
  color:#333;
  font-weight:700;
}

.navbar a.button{
  display:block;
  text-decoration:none;
  float:right;
  line-height:25px;
  height:25px;
  background:url('img/navbar_btn.png');
  margin-right:30px;
  padding:0 20px;
  margin-top:12px;
  border:1px solid #979797;
  box-shadow:0 1px 0 #fff;
  border-radius:3px;
  cursor:pointer;
}

.navbar a.button.back{
  float:left;
  margin-left:17px;
  font-weight: bold;
  font-size: 20px;
  line-height: 21px;
  padding: 0 11px;
  color:#555;
}

.navbar a.button:hover{
background-color: #F4F4F4;
background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e9e9e9));
background-image: -webkit-linear-gradient(top, #f4f4f4, #e9e9e9);
background-image: -moz-linear-gradient(top, #f4f4f4, #e9e9e9);
background-image: -ms-linear-gradient(top, #f4f4f4, #e9e9e9);
background-image: -o-linear-gradient(top, #f4f4f4, #e9e9e9);
background-image: linear-gradient(top, #f4f4f4, #e9e9e9);
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f4f4f4', EndColorStr='#e9e9e9');
color:#000;
}

.navbar a.button:active{
  background:#ddd;
}

.navbar + h1{
  margin-top:22px;
}

#vtabs{ width:150px; position:fixed; height:100%; margin-top:70px; }
#vtabs ul{ list-style-type:none; padding:0; margin:0; width:156px;}
#vtabs ul li{ height:34px; line-height:35px; cursor:pointer; color:#ccc; font-size:13px; border-radius:3px; margin-bottom:5px; }
#vtabs ul li:after{ content:'›'; display:block; float:right; margin-right:15px; color:#ccc; font-size:16px; line-height:35px; }
#vtabs ul li .picto{ margin-top:10px; margin-right:7px; }
#vtabs ul li:hover, #vtabs ul li:hover:after{ color:#fff; }
#vtabs ul li:hover .picto{ opacity:1; }

.picto{ display:block; height:14px; width:14px; float:left; opacity:0.7; }
.picto.piechart{ background-position:-42px -173px; width:9px; margin-right:5px; }

#viewport{ float:left; margin-left:220px; border-radius:3px; min-width:790px; }
#viewport .viewport_inner{ margin:0 6px; background:#fff; min-height:1200px; border-radius:2px; }

#viewport, #vtabs ul li:hover, #vtabs ul li.active{ background:#24272c; box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.4); }

.widget{ min-height:100px; border-right:1px solid #ececec; float:left; }
.widget.full_width{ border-right:none; }
.widget .inner{ margin:20px; }
/*.widget .headbar{ margin-bottom:30px; }*/

.toplist_inner{ min-height:300px; }
.toplist_inner.loading{ opacity:0.5; background:url('/loader.gif') no-repeat center center;  }

.toplist_item{ border-bottom:1px solid #dedede; height:42px; }
.toplist_item .title{ float:left; line-height:42px; margin-left:20px; font-size:13px; color:#333; }
.toplist_item .value{ float:right; line-height:42px; margin-right:20px; font-size:13px; font-weight:bold; color:#333; width:70px; color:#666; }
.toplist_item .percent{ float:right; line-height:42px; margin-right:20px; font-size:18px; font-weight:bold; color:#333; width:70px; }

.headbar {

  height:36px;
background-color: #F4F4F4;
background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e9e9e9));
background-image: -webkit-linear-gradient(top, #f4f4f4, #e9e9e9);
background-image: -moz-linear-gradient(top, #f4f4f4, #e9e9e9);
background-image: -ms-linear-gradient(top, #f4f4f4, #e9e9e9);
background-image: -o-linear-gradient(top, #f4f4f4, #e9e9e9);
background-image: linear-gradient(top, #f4f4f4, #e9e9e9);
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f4f4f4', EndColorStr='#e9e9e9');
padding: 0 15px;
border-bottom: 1px solid #C9C9C9;
border-top: 1px solid #d0d0d0;
font-size:13px;
line-height:29px;
text-shadow: 1px 0px 2px rgba(255, 255, 255, 1);
-moz-text-shadow: 1px 0px 2px rgba(255,255,255,1);
-webkit-text-shadow: 1px 0px 2px rgba(255,255,255,1);
  overflow:hidden;
}

.headbar.small{ height:29px; }

.headbar h2{ line-height:37px; margin:0; float:left; font-size:14px; }
.headbar .datepicker{ background:#fff; border:1px solid #999; height:20px; padding:0 7px; float:right; margin:8px -1px; min-width:100px; font-size:11px; font-style:italic; line-height:21px; }
.headbar .button.mr{ margin-right:16px; }
.headbar .button.ml{ margin-left:16px; }

.headbar .button{
  margin:8px 0px; height:16px; float:right; display:block;
  margin-right:-1px;
  border:1px solid #999;
  border-bottom-color:#888;
  box-shadow: 0 1px 0 #fff; 
  cursor:pointer;
  border-radius:3px;
  font-size: 11px;
  font-weight:bold;
  line-height:16px;
  padding:2px 6px;
  text-align:center;
  text-decoration:none;
  vertical-align:top;
  white-space:nowrap;
  background:url('img/navbar_btn.png');
}

.headbar .button:hover, .headbar.button.active{background:#e8e8e8;border-bottom-color:#999;-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .05)}

.headbar .button:active{ background:#ddd; }

.headbar .btn_group.mr{ margin-right:17px; }

.headbar .btn_group .button{
  border-radius:0;
}

.headbar .btn_group .button:last-child{
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

.headbar .btn_group .button:first-child{
  border-top-right-radius:3px;
  border-bottom-right-radius:3px;
}

.numbers_container, .number{ float:left; width:60px; }
.number{ padding-right:20px; margin-right:6px; }
.number .value{ color:#444; font-size:20px; display:block; margin-bottom:5px; font-weight:bold; }
.number .desc{ color:#999; font-size:12px; margin-bottom:5px; display:block;  white-space:nowrap; }
.number:last-child{ border-right:none; }
.numbers_container{ padding-right:0px; width:215px; float:left; margin:15px 0 -1px 20px; padding-bottom:5px; border-bottom:1px solid #dedede; }

.numbers_container.size_3{ width:258px; }
.numbers_container.size_4{ width:358px; }
.numbers_container.size_5{ width:450px; }

.numbers_container .title{ padding:4px 0 1px 0; color:#333; font-size:14px; display:block;font-weight:400; }


ul.session_list{ list-style-type:none; margin:0; padding:9px 16px 0 11px; }
ul.session_list li{ color:#0A0A0A; height:32px; overflow:hidden; line-height:18px; padding:4px; }
ul.session_list li:hover{ background:#eee; cursor:pointer; }
ul.session_list li input{ float: left; margin-right: 7px; }
ul.session_list li .picture{ height:25px; width:25px; float:left; background:#333; overflow:hidden; }
ul.session_list li .name{ float:left; width:115px; overflow:hidden; margin-left:10px; font-size:12px; }
ul.session_list li .time{ float:right; width:40px; overflow:hidden; text-align:right; font-size:10px; }
ul.session_list li .history{ float:right; color:#999; font-size:10px; line-height: 12px;}
ul.session_list li .history:hover{ color:#333; text-decoration:underline; }

.sessions_feed{ min-width:300px; min-height:100px; float:left; }
.sessions_feed ul.feed_inner{ margin:5px 15px; min-height:100px; padding:0px; }
.sessions_feed ul.feed_inner li{ list-style-type:none; border-bottom:1px solid #e2e2e2; min-height:54px; }
.sessions_feed ul.feed_inner li .message{ font-size:12px; line-height:19px; padding-top:9px; display:block; }
.sessions_feed ul.feed_inner li .properties{ margin-left:50px; font-size:10px; display:block; color:#555; }
.sessions_feed ul.feed_inner li .time{ font-size:10px; line-height:20px; padding-top:19px; padding-right:10px; display:block; color:#999; float:right; font-style:italic; }
.sessions_feed ul.feed_inner li .picture{ height:40px; overflow:hidden; width:40px; float:left; background:#333; margin:7px 10px 0 0; cursor:pointer; }
.sessions_sidebar{ min-height:1200px; float:right; width:250px; border-left:1px solid #C7C9CC; }
.events_sidebar{ min-height:1200px; float:left; width:200px; border-right:1px solid #C7C9CC; }

ul.event_type_list{ margin:10px; padding:0; }
ul.event_type_list li{ list-style-type:none; color:#0A0A0A; margin-bottom:8px; height:18px; overflow:hidden; line-height:18px; padding:4px; }
ul.event_type_list li input{ margin-right:7px; }
ul.event_type_list li:hover{ background:#eee; cursor:pointer; }
ul.event_type_list li .history{ float:right; color:#999; font-size:10px; }
ul.event_type_list li .history:hover{ color:#333; text-decoration:underline; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.highcharts-series circle{ stroke-width:1px; }

ul.ui_tabs{
  list-style-type:none;
  margin:0;
  padding:0;
  height:36px;
  display:block;
  width:100%;
  margin-top:30px;
  font-size:13px;
  margin-bottom:-1px;
  padding-left:16px;
}

ul.ui_tabs li{
  float:left;
}

ul.ui_tabs li a{
  display:block;
  height:35px;
  line-height:36px;
  border-top:1px solid none;
  padding:0 25px;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  color:#666;
  font-weight:500;
  text-decoration:none;
}


ul.ui_tabs li a:hover{
  color:#333;
}

ul.ui_tabs li.active a{
  border: 1px solid #D0D0D0;
  border-bottom:none;
  color:#333;
  background:#f4f4f4;
}

.gauge_viewport{ margin-top:30px; }


.rickshaw_graph .y_ticks path { stroke:#fff; }
.rickshaw_graph .y_grid .tick { stroke:rgba(0,0,0,.1); }

.rickshaw_graph .x_tick {
  border-left: none;
}

.rickshaw_graph .x_tick.glow .title, .rickshaw_graph .y_ticks.glow text{
  font-size:14px;
}